.customer-page {
    .table {
        th,
        td,
        tr {
            border-color: var(--colors-foregrounds-borders-secondary, #dadada);
        }
    }

    thead tr {
        background-color: var(--colors-surface-subtle, #e6e6e6);
    }

    .table-shipping-addresses {
        background-color: var(--colors-surface-white, #fff);
    }
}
