
.filter-sections {
    background-color: @filter-bg;
}
.filter-section {
    border-bottom-color: @filter-border-bottom;
    & + & {
        border-top-color: @filter-border-top;
    }
}
#category-filter-hover .filter-section:first-child {
    border-top-color: @filter-border-top;
}
.filter-count {
    background-color: @filter-count-bg;
}
#clear-filters {
    a {
        color: @red;
    }
}
.filter-total-count {
    color: @filter-total-count-color;
}
