.detail-information {
    border-top-color: @border-color;
}

.cpost-delivery-point-result-legend,
.cpost-delivery-point-result-table-wrap {
    border-color: @border-color;
}

.cpost-delivery-point-result-table {
    tr {
        border-bottom-color: @border-color;
    }
}
