.loader-overlay,
.ajax-pending-element::after {
    background-color: @overlay-bg;
}

.loader,
.ajax-pending .loader-wrapper::before,
.ajax-pending-element::before {
    border-color: @loader-color-outer;
    border-right-color: transparent;
    background-color: @loader-color-inner;
    &.accented {
        background-color: @loader-accented-color-outer;
    }
    &.static {
      border-color: @loader-static-color-outer;
      border-right-color: transparent;
      background-color: @loader-static-color-inner;
    }
}
