.pagination-link {
    color: @pagination-link-color;
    background-color: @pagination-link-bg;
    &:hover {
        color: @pagination-link-color-hover;
        background-color: @pagination-link-bg-hover;
    }
}

.pagination-current {
    color: @pagination-link-color-current;
    background-color: @pagination-link-bg-current;
}

.pagination-top {
    strong {
        color: @link-color;
    }
}
