.popup-widget {
    &::before {
        border-color: @popup-widget-border-color;
        background-color: @popup-widget-bg;
    }
}
.popup-widget-inner {
    color: @popup-widget-color;
    border-color: @popup-widget-border-color;
    background-color: @popup-widget-bg;
}
.cart-widget {
    border-color: @popup-widget-border-color;
    background-color: @popup-widget-bg;
}
.cart-widget-button {
    background-color: @popup-widget-bg;
}
