.shipping-options-popup {
    .shipping-row {
        display: flex;
        align-items: center;
        padding: 15px 0;
        line-height: 1em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .payment-logo {
            width: auto;
            img {
                height: 20px;
            }
        }
    }
    .extra.delivery {
        margin-top: 20px;
    }
}
.shipping-options {
    display: inline-block;
}
.delivery-time-label,
.delivery-time {
    display: inline-block;
}