.site-msg {
  color: var(--colors-foregrounds-content-primary-dark);
  background-color: #fdf3da;

  a {
    color: color-mix(in srgb, var(--color-primary) 70%, #000 30%);

    &:hover {
      color: var(--colors-foregrounds-content-primary-dark);
    }
  }

  .close {
    &::before {
      color: var(--colors-foregrounds-content-primary-dark);
    }
  }
}
