.vote-name {
    font-family: @template-headings-font, sans-serif;
    .blank-mode & {
        font-family: @template-headings-font, sans-serif;
    }
}

.vote-title {
    color: var(--colors-foregrounds-content-tertiary);
}
.vote-wrap {
    border-color: @border-color;
}
.vote-content {
    a {
        color: @text-color;
        &:hover {
            color: @color-primary;
        }
    }
}
.vote-rating,
.vote-admin-response {
    color: @rating-default-color;
}
