.search-whisperer {
    border-color: @border-color;
    background-color: @content-box-bg;
    ul {
        li {
           border-color: @border-color;
           a:not(.btn) {
                color: @text-color;
           }
        }
    }
    .price {
        color: @color-primary;
    }
    .p-name {
        color: @link-color;
    }
}

.search-whisperer-documents {
    border-bottom-color: @border-color;
}
