:root {
  // form tokens
  --form-controls-padding-y: 10px;
  --form-controls-padding-x: 12px;

  --inline-form-group-labels-width: 184px;
  --inline-form-group-labels-computed-padding-left: var(--inline-form-group-labels-width);

  // dialog tokens
  --dialog-wrapper-padding: 20px;
  --dialog-content-padding: 80px 0 40px;
}
