#header {
    border-color: @border-color;
    color: @header-color;
    background-color: @header-bg-color;
    background-image: @header-bg-image;
    .shp-test & {
        position: relative;
        &::before {
            content: 'Hlavička je skrytá aktualizací "test".';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        > * {
            pointer-events: none;
            opacity: 0;
        }
    }
    .site-name {
        a {
            color: @header-color;
        }
    }
}
