.carousel {
    margin-bottom: @grid-gutter-width;
}
.carousel-indicators {
    left: auto;
    margin-left: 0;
    width: auto;
    text-align: left;
}
.carousel-inner img {
    width: 100%;
}
.carousel-indicators .active,
.carousel-indicators li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

.footer-banners {
    margin-top: @grid-gutter-width;
    margin-bottom: @grid-gutter-width;
}
