h1,
h2,
h3,
.h1,
.h2,
.h3 {
    margin-top: @line-height-computed;
    margin-bottom: round(@line-height-computed / 2);
    font-weight: @headings-font-weight;
}

.h4,
.welcome h1 {
    .type-index .content-wrapper & {
        position: relative;
        margin-bottom: @line-height-computed;
        padding-bottom: @line-height-computed;
        font-size: 26px;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -55px;
            .size(110px, 2px);
        }
    }
}

.overall-wrapper {
    position: relative;
    min-height: 100%;
}

.content-wrapper {
    padding-bottom: 20px;
    @media (min-width: @screen-sm-min) {
        padding-top: 40px;
    }
}

#content {
    padding-top: 10px;
}

ul {
    margin-bottom: round(@line-height-computed / 2);
    padding: 0;
    li {
        list-style-position: inside;
    }
}

.box {
    margin-bottom: @line-height-computed;
    h4 {
        &:first-of-type {
            margin-top: 0;
        }
    }
    &.box-sm {
        padding: round(@line-height-computed / 2);
    }
    &.box-md {
        padding: @line-height-computed;
    }
    &.box-squeeze {
        padding: 0;
    }
    .cart-inner & {
        &.box-sm {
            padding: 0;
        }
    }
}

.next-step {
    position: relative;
    padding-bottom: 34px;
    line-height: 34px;
    text-align: center;
    a {
        &:first-child {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            &::before {
                &:extend(.shp-icon);
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        .clearfix();
        margin-bottom: @line-height-computed;
        padding-bottom: 0;
        text-align: left;
        a {
            &:first-child {
                position: static;
                &::before {
                    content: @icon-chevron-left-code;
                    width: 20px;
                    margin: -1px 10px 0 0;
                    text-align: center;
                }
            }
        }
        .btn {
            float: right;
            margin-left: round(@line-height-computed / 2);
        }
    }
    @media (min-width: @screen-md-min) {
        #checkoutSidebar & {
            padding-bottom: 34px;
            a {
                &:first-child {
                    position: absolute;
                }
            }
            .btn {
                margin: 1em 0;
            }
        }
    }
}

.box-subscribe {
    max-width: 978px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    h3 {
        margin-top: 0;
        text-align: center;
    }
    p {
        margin-bottom: @line-height-computed;
        font-style: oblique;
    }
}

.manufacturers {
    li {
        list-style: none;
    }
    .btn {
        margin-bottom: round(@line-height-computed / 4);
    }
    h2 {
        margin-top: round(@line-height-computed * 1.5);
    }
    > li {
        &:nth-child(odd) {
            clear: both;
        }
    }
    @media (min-width: @screen-lg-min) {
        > li {
            &:nth-child(odd) {
                clear: none;
            }
            &:nth-child(3n+1) {
                clear: both;
            }
        }
    }
}

.html-code {
    textarea.form-control {
        height: auto;
    }
}

.welcome > div,
.desc {
    .clearfix();
}

.admin-bar {
    position: fixed;
    top: 0;
}

// Slider
.slider-content {
    &::before,
    &::after {
        z-index: 1;
        position: absolute;
        top: -12px;
        content: '';
        .square(26px);
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        background: #fff;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

.contact-box {
    .sidebar & {
        padding-left: round(@grid-gutter-width / 2);
        > img {
            display: none;
        }
    }
}

.checkout-box {
    .btn {
        position: relative;
        padding-right: 40px;
        &::after {
            &:extend(.shp-icon);
            content: @icon-chevron-down-code;
            position: absolute;
            right: 16px;
            top: 50%;
            margin-top: -10px;
            font-size: 20px;
        }
        &.expanded {
            &::after {
                content: @icon-chevron-up-code;
            }
        }
    }
}

.search.static .search-whisperer {
    position: static;
}

.eet-message {
    font-size: @font-size-smaller;
}

.cofidis-wrap {
    margin-bottom: @line-height-computed;
}

#productVideos {
    @media (max-width: @screen-md-max) {
        iframe {
            height: 350px;
        }
    }
    @media (max-width: @screen-xs) {
        iframe {
            height: 225px;
        }
    }
}

.category-appendix {
    display: block;
    margin-top: 5px;
    font-size: 11px;
}

.category-header {
    padding-bottom: round(@line-height-computed / 2);
    label {
        padding: 1ex;
    }
    @media (max-width: @screen-xs-max) {
        display: none;
        .filters-visible & {
            display: block;
        }
    }
}

#register-form .submit-wrapper {
    margin-top: @line-height-computed;
}

.btn-cart {
    &::before {
        &:extend(.shp-icon);
        content: @icon-cart-code;
    }
    .products-block & {
        &::before {
            content: '';
        }
    }
}

@menu-helper_icon-size: @menu-helper-element-line-height;
.menu-helper {
    @media (min-width: @navigation-breakpoint) {
        .scrolled & {
            z-index: -1;
            opacity: 0;
        }
        .scrolled .navigation-window-visible & {
            z-index: 1;
            opacity: 1;
        }
    }
}

#navigation {
    @media (min-width: @screen-md-min) {
        clear: both;
        .scrolled .submenu-visible:not(.navigation-window-visible) & {
            overflow: hidden;
        }
        .scrolled & {
            height: 0;
        }
        .scrolled .navigation-window-visible & {
            height: @navigation-height;
        }
    }
}

.navigation-in {
    ul {
        li {
            a {
                b {
                    display: inline-block;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: transparent;
                }
                &.active {
                    font-weight: 700;
                    b {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.cart-table {
    .recapitulation-wrapper & {
        .cart-p-image img {
                width: @img-width-sm;
        }
    }
}
