@font-face {
    font-family: 'shoptet';
    src:
        url('@{fontPath}shoptet.ttf?tjumfx') format('truetype'),
        url('@{fontPath}shoptet.woff?tjumfx') format('woff'),
        url('@{fontPath}shoptet.svg?tjumfx#shoptet') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "../../../00/css/modules/components/icons";
