@product_product-name-font-size: 16px;
@product_product-name-height: round((@product_product-name-font-size * @line-height-base) * 2) + 1;

.fourColumnProducts(@switchable) {
    flex: 0 0 auto;
    width: 25%;
    &:nth-child(even) {
        border-right-style: solid;
    }
    &:nth-child(3),
    &:nth-child(4) {
        border-top-style: none;
    }
    &:nth-child(3n) {
        border-right-style: solid;
        &:last-child {
            border-right-style: none;
        }
    }
    &:nth-child(4n) {
        border-right-style: none;
    }
}
.fourColumnProducts(@switchable) when (@switchable > 0) {
    & {
        border-top-style: none;
    }
    &:last-child {
        border-right-style: none;
    }
    &:nth-child(4n) {
        border-right-style: solid !important;
    }
}

.products-block {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    &.products {
        > div {
            padding: round(@grid-gutter-width / 4);
        }
        .p {
            .name {
                display: block;
                height: @product_product-name-height;
                overflow: hidden;
                font-size: @product_product-name-font-size;
                margin-bottom: round(@line-height-computed / 2);
            }
            .price {
                line-height: 1;
                strong,
                span {
                        font-size: @font-size-large;
                }
                span.pr-list-unit {
                        font-size: @font-size-base;
                }
            }
        }
    }
    > div {
        flex: 0 0 auto;
        width: 100%;
        border-top-style: solid;
        border-top-width: 1px;
        &:first-child {
            border-top-style: none;
        }
    }
    .p {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        a.image {
            position: relative;
            display: block;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .flags-default {
            position: absolute;
            left: 0;
            top: 0;
        }
        .image {
            display: block;
        }
    }
    .image,
    .name {
        margin-bottom: round(@line-height-computed / 2);
        text-align: center;
    }
    .p-bottom {
        > div {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
        .prices,
        .p-tools {
            flex-basis: 50%;
        }
        .prices {
            flex-grow: 1;
            flex-shrink: 0;
            text-align:left;
        }
        .price-additional {
            font-size: @font-size-smaller;
        }
        .p-tools {
            flex-grow: 0;
            flex-shrink: 1;
            text-align: right;
        }
        .p-desc {
            flex: 0 0 100%;
            max-height: round(@line-height-computed * 4);
            overflow: hidden;
            margin: @line-height-computed 0 0;
        }
    }
    .ratings-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: round(@line-height-computed / 2);
        min-height: 48px;
        .availability {
            flex: 1 1 60%;
            text-align: right;
        }
        .stars-wrapper {
            flex: 1 1 40%;
        }
    }
    .p-code {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        .products-block .p & {
            opacity: 0;
            transition: opacity @transition-duration @transition-timing;
        }
        .products-block .p:hover & {
            opacity: 1;
        }
    }
    @media (min-width: @screen-xs-min) {
        > div {
            flex: 0 0 auto;
            width: 50%;
            border-right-style: solid;
            border-right-width: 1px;
            &:nth-child(1),
            &:nth-child(2) {
                border-top-style: none;
            }
            &:nth-child(even) {
                border-right-style: none;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        > div {
            padding: round(@grid-gutter-width / 2);
        }
        .name {
            text-align: left;
        }
    }
    @media (min-width: @screen-md-min) {
        &.products-alternative,
        &.products-related {
            > div {
                .fourColumnProducts(1);
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        > div {
            flex: 0 0 auto;
            width: 33.333333%;
            &:nth-child(3) {
                border-top-style: none;
            }
            &:nth-child(even) {
                border-right-style: solid;
            }
            &:nth-child(3n),
            &:last-child {
                border-right-style: none;
            }
        }
        &.products-alternative,
        &.products-related  {
            > div {
                .fourColumnProducts(1);
            }
        }
    }
    @media (min-width: @screen-xl-min) {
        .columns-4 & {
            > div {
                .fourColumnProducts(0);
            }
        }
    }
    @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
        .p-bottom {
            .price-additional {
                font-size: 11px;
            }
        }
    }
}

@media (max-width: @screen-lg) and (min-width: @screen-xs-min) {
    .products-block.products-additional .p-bottom {
        .p-tools {
            text-align: left;
            flex-basis: 100%;
            margin-top: 5px;
        }
    }
}

.price-standard-wrapper-placeholder {
    display: none;
}

.tab-content,
.products-related {
    .p {
        .p-desc,
        .stars-wrapper,
        .availability,
        .flags-inline,
        .price-standard-wrapper {
            display: none;
        }
        .name {
            margin-bottom: @line-height-computed;
        }
        .prices {
            margin-bottom: round(@line-height-computed / 2);
        }
    }
}

.products-related {
    position: relative;
    margin-bottom: round(@line-height-computed * 2);
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        .size(1px, 100%);
        background-color: #fff;
    }
}

.category-appendix,
.product-appendix {
    display: block;
}

.category-appendix {
    font-size: @font-size-base;
    line-height: round(@product_product-name-font-size * @line-height-base);
}

.product-appendix {
    margin-top: 5px;
    font-size: @font-size-large;
}

.widget-parameter-wrapper {
    margin-top: auto;
    padding-top: @line-height-computed;
}
