:root {
  // dialog tokens
  --dialog-wrapper-padding: 20px;
  --dialog-content-padding: 50px 0 50px;

  // computed tokens from --color-tertiary-hover
  --colors-computed-01: hsl(
    var(--color-tertiary-hover-h) calc(var(--color-tertiary-hover-s) - 12%) calc(var(--color-tertiary-hover-l) + 16%)
  );
  --colors-computed-02: hsl(
    var(--color-tertiary-hover-h) calc(var(--color-tertiary-hover-s) - 10%) calc(var(--color-tertiary-hover-l) + 6%)
  );
  --colors-computed-03: hsl(
    var(--color-tertiary-hover-h) var(--color-tertiary-hover-s) calc(var(--color-tertiary-hover-l) - 8%)
  );
  --colors-computed-04: hsl(
    var(--color-tertiary-hover-h) calc(var(--color-tertiary-hover-s) + 4%) calc(var(--color-tertiary-hover-l) - 14%)
  );

  // computed tokens from --color-tertiary
  --colors-computed-05: hsl(
    var(--color-tertiary-h) calc(var(--color-tertiary-s) + 2%) calc(var(--color-tertiary-l) + 3%)
  );
  --colors-computed-06: hsl(var(--color-tertiary-h) var(--color-tertiary-s) calc(var(--color-tertiary-l) - 5%));
  --colors-computed-07: hsl(var(--color-tertiary-h) var(--color-tertiary-s) calc(var(--color-tertiary-l) - 8%));
  --colors-computed-08: hsl(
    var(--color-tertiary-h) calc(var(--color-tertiary-s) - 8%) calc(var(--color-tertiary-l) - 25%)
  );

  // form tokens
  --form-fields-width-xs: 220px;
  --form-fields-width-sm: 320px;
  --form-fields-width-md: 420px;
  --form-fields-width-lg: 540px;

  --form-fields-checkbox-inner-size: 8px;

  --form-group-labels-font-size: 18px;
  --form-controls-font-size: 18px;

  --form-controls-padding-y: 17px;
  --form-controls-padding-x: 18px;
}
