:root {
  --colors-focus-primary: #09367eff;
  --colors-focus-secondary: #ffffffff;

  --scroll-offset: var(--scroll-offset-override, var(--scroll-offset-runtime, 0px));
  --scroll-extra-offset: 0px;
}
