.sortingToggle {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  align-items: center;

  font-size: @font-size-base;
  text-align: left;
}

.sortingToggle__value {
  font-weight: 700;
}

.listSorting--dropdown {
  position: relative;
}

.listSorting__controls {
  display: none;
}

.listSorting--open .listSorting__controls {
  display: block;
}

.listSorting__controls--dropdown {
  z-index: @zindex-dropdown;

  overflow: auto;

  min-width: 160px;

  font-size: @font-size-base;

  background-color: @dropdown-bg;
  border: 1px solid @dropdown-border;
  border-radius: @border-radius-base;
}

.listSorting__control {
  display: block;

  width: 100%;

  line-height: 1.5;
  text-align: left;

  background-color: transparent;
  border: none;

  &:hover,
  &:focus-visible {
    color: var(--color-secondary);
  }
}

.listSorting__control--current {
  pointer-events: none;
  font-weight: 700;
}

.sortingToggle .icon-chevron-down::before {
  vertical-align: middle;
}

.sortingToggle[aria-expanded='true'] .icon-chevron-down::before {
  content: '\e911';
}
