.category-header {
    text-align: right;

    .dropdown {
        display: inline-block;

        button {
            font-weight: 700;
        }

        .dropdown-menu {
            left: auto;
            right: 0;

            label,
            strong {
                display: block;
                line-height: 1.5;
                padding: 3px 20px;
                white-space: nowrap;
            }
            label {
                font-weight: normal;
            }
        }
    }
}
