li.logout {
    margin-top: round(@line-height-computed / 2);
    margin-bottom: round(@line-height-computed / 2);
    list-style: none;
}

:where(.temp_old_clientTables) {
    .client-table-heading {
        display: none;
        visibility: hidden;
    }
}

:where(.temp_new_clientTables) {
    .client-table-heading {
        @media (min-width: @screen-lg-min) {
            display: none;
        }
    }
}
