li.logout {
    margin-top: round(@line-height-computed / 2);
    margin-bottom: round(@line-height-computed / 2);
    list-style: none;
}

.client-table-heading {
    @media (min-width: @screen-lg-min) {
        display: none;
    }
}
