.eet-message {
    margin-top: @eet-message-margin-top;
    margin-bottom: @eet-message-margin-bottom;
    padding-top: @eet-message-padding-top;
    padding-bottom: @eet-message-padding-bottom;
    font-size: @eet-message-font-size;
    text-align: @eet-message-text-align;
}
