.empty-content-404 h2::after {
    &:extend(.shp-icon);
    content: @icon-ban-code;
}

.empty-content-category h2::after {
    &:extend(.shp-icon);
    content: @icon-box-opened-code;
}

.empty-content {
    margin: round(@line-height-computed * 2) 0;
    text-align: center;
    h2 {
        &::after {
            display: block;
            margin: round(@line-height-computed * 2) 0;
            font-size: round(@font-size-base * 6);
            line-height: round(@font-size-base * 6);
        }
    }
    p {
        margin-bottom: round(@line-height-computed * 2);
        font-size: @font-size-large;
    }
}
