.listingControls {
  container-name: listingControls;
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  gap: @line-height-computed 0;
  align-items: center;
  justify-content: center;

  margin-top: @line-height-computed;
  margin-bottom: round(@line-height-computed * 1.5);
}

.loadMore,
.goToTop,
.pagination,
.itemsTotal {
  flex: 0 0 100%;
}

.loadMore {
  display: flex;
  justify-content: center;
}

.loadMore__button--products {
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: @font-size-base;
  line-height: @pagination-link-size;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination .pagination__link,
.pagination__currentPage {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  height: @pagination-link-size;
  min-height: @pagination-link-size;
  padding: 0;

  text-decoration: none;

  border-radius: @pagination-link-border-radius;
}

.pagination__link:hover {
  border-style: @btn-border-style;
  border-width: @btn-border-width;
}

.pagination__currentPage {
  font-weight: 400;
}

.pagination__link--prev,
.pagination__link--next {
  &::before {
    font-size: @pagination-arrow-font-size;

    &:extend(.shp-icon);
  }

  &:hover {
    text-decoration: none;
  }
}

.pagination__link--prev::before {
  content: @icon-chevron-left-code;
}

.pagination__link--next::before {
  content: @icon-chevron-right-code;
}

.goToTop {
  display: flex;
  justify-content: center;
}

.goToTop__button::before {
  content: @icon-chevron-up-code;
  margin-right: 0.5em;
  font-size: @pagination-arrow-font-size;

  &:extend(.shp-icon);
}

.itemsTotal {
  text-align: center;
}

@container listingControls (min-width: 57rem) {
  .loadMore {
    order: 1;
  }

  .goToTop {
    flex-basis: auto;
    order: 2;
    margin-right: auto;
  }

  .pagination {
    flex-basis: auto;
    order: 3;
    margin-left: auto;
  }

  .itemsTotal {
    order: 4;
  }
}

@container listingControls (min-width: 84rem) {
  .goToTop {
    flex-basis: 33%;
    justify-content: flex-start;
    order: 1;
  }

  .listingControls:has(.goToTop, .pagination) .loadMore {
    flex-basis: 33%;
    order: 2;
  }

  .pagination {
    flex-basis: 33%;
    justify-content: flex-end;
    order: 4;
  }
}

// This pagination is only in the customer section
.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: round(@grid-gutter-width / 8) round(@grid-gutter-width / 2);
  align-items: center;
  justify-content: space-between;

  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;

  .pagination {
    display: flex;
    flex-basis: fit-content;
    flex-wrap: wrap;
    gap: round(@grid-gutter-width / 8);

    > * {
      flex-basis: auto;
      padding: round(@grid-gutter-width / 4);
      line-height: 1;
    }

    @media (max-width: @screen-md-max) {
      justify-content: flex-start;
    }
  }
}

.pagination-total {
  margin-bottom: 0;
}
