.price-range {
    display: block;
    .size(100%, @price-range-height);
    max-width: @price-range-max-width;
    margin-top: @price-range-margin-top;
    margin-bottom: @price-range-margin-bottom;
    border-style: @price-range-border-style;
    border-width: @price-range-border-width;
    > div {
        float: left;
        height: 100%;
    }
}
