@keyframes scale {
    from {transform: scaleX(0)}
    to {transform: scaleX(1)}
}

.rate-wrapper.unveil-wrapper {
    margin-bottom: @grid-gutter-width;
    .tab-content & {
        margin-bottom: round(@line-height-computed);
    }
    .rate-wrap {
        display: flex;
    }
    .rate-star-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        height: 100%;
        margin-top: round(@grid-gutter-width / 4);
        .stars {
            display: block;
            margin-bottom: round(@line-height-computed / 4);
            width: 100%;
        }
        .stars-label {
            line-height: inherit;
        }
        @media (min-width: @screen-xs-min) {
            margin-left: round(@grid-gutter-width / 2);
            margin-top: 0;
            .stars {
                margin-bottom: round(@line-height-computed / 8);
            }
        }
    }
    .rate-star {
        margin-right: round(@grid-gutter-width / 4);
        width: auto;
        display: flex;
        align-items: center;

        &::after {
            content: "\A";
            white-space: pre;
        }
    }
    .rate-value {
        margin-right: round(@grid-gutter-width / 8);
    }
    .rate-list {
        display: flex;
        align-items: center;
        margin-bottom: round(@line-height-computed / 2);

        &:last-child {
            margin-bottom: 0;
        }
    }
    .rate-block {
        display: flex;
        flex-grow: 1;
        padding-right: @grid-gutter-width;
    }
    .rate-bar {
        position: relative;
        display: flex;
        align-items: center;
        height: round(@line-height-computed / 4);
        animation-name: scale;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        transform-origin: left;
    }
    .rate-count {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.active {
            right: -(@grid-gutter-width);
        }
    }
    .rate-average-wrap {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }
    .rate-average-inner {
        display: flex;
        flex-direction: column;
        & + .add-comment {
            margin-top: round(@line-height-computed * 1.5);
        }
        @media (min-width: @screen-xs-min) {
           flex-direction: row;
           align-items: center;
           & + .add-comment {
               margin-top: 0;
           }
        }
    }
    .rate-average {
        font-size: 350%;
    }
    .add-comment {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
    }
}

.rate-wrapper,
.discussion-wrapper {
    &.unveiled {
        .add-comment {
            display: none;
        }
        .vote-content .add-comment {
            display: inline-block;
        }
    }
}

.add-comment {
    font-weight: 700;
    cursor: pointer;
    .rating-icon {
        display: flex;
        align-items: baseline;

        &::before {
            &:extend(.shp-icon);
            content: @icon-rating-code;
            margin-right: round(@grid-gutter-width / 6);
        }
    }
    .comment-icon::before {
        &:extend(.shp-icon);
        content: @icon-comment-code;
        margin-right: round(@grid-gutter-width / 4);
    }
    &.btn {
        font-weight: 400;
    }
}

// TODO: Remove this in issue 19942 -- START
:where(body.ums_a11y_pagination--off) {
    .load-next-wrap {
        text-align: center;
        margin: @line-height-computed 0;
    }
}
// TODO: Remove this in issue 19942 -- END
