:root {
  // form tokens
  --form-controls-padding-y: 6px;
  --form-controls-padding-x: 8px;

  --inline-form-group-labels-width: 184px;
  --inline-form-group-labels-computed-padding-left: var(--inline-form-group-labels-width);

  --inline-form-group-labels-width: 184px;
  --inline-form-group-labels-computed-padding-left: var(--inline-form-group-labels-width);

  // dialogs
  --dialog-wrapper-padding: 20px;
  --dialog-content-padding: 50px 0 40px;
}
