@accent-bg: e("hsl(var(--color-tertiary-h), calc(var(--color-tertiary-s) + 2%), calc(var(--color-tertiary-l) + 8%))");
@accent-bg-hover: e("hsl(var(--color-tertiary-h), calc(var(--color-tertiary-s) + 2%), calc(var(--color-tertiary-l) + 5%))");
@accent-color: var(--colors-foregrounds-content-inverted);
@accent-heavy-bg: var(--color-tertiary);
@accent-heavy-bg-hover: peru;
@accent-heavy-color: var(--colors-foregrounds-content-inverted);
@accent-heavy-link-color: peru;
@accent-link-color: var(--colors-foregrounds-content-inverted);
@banner-color: var(--color-primary);
@body-bg: var(--colors-surface-primary);
@border-color: var(--colors-foregrounds-borders-secondary);
@box-accent-bg: inherit;
@box-bg: inherit;
@box-color: inherit;
@box-dark-bg: inherit;
@box-dark-color: inherit;
@box-price-bg: e("hsl(var(--color-tertiary-h), calc(var(--color-tertiary-s) - 8%), calc(var(--color-tertiary-l) - 25%))");
@box-price-color: var(--colors-foregrounds-content-inverted);
@box-variant-bg: inherit;
@box-variant-color: peru;
@breadcrumbs-bg: var(--colors-surface-primary);
@breadcrumbs-border: var(--colors-foregrounds-borders-secondary);
@breadcrumbs-color: var(--colors-foregrounds-content-tertiary);
@breadcrumbs-link-color: var(--colors-foregrounds-content-tertiary);
@breadcrumbs-link-color-hover: var(--color-primary);
@btn-conversion-bg: var(--color-secondary);
@btn-conversion-bg-hover: var(--color-secondary-hover);
@btn-conversion-border: var(--color-secondary);
@btn-conversion-border-hover: var(--color-secondary-hover);
@btn-conversion-color: var(--colors-foregrounds-content-inverted);
@btn-conversion-color-hover: var(--colors-foregrounds-content-inverted);
@btn-default-bg: var(--color-tertiary);
@btn-default-bg-hover: var(--color-tertiary-hover);
@btn-default-border: var(--color-tertiary-hover);
@btn-default-border-hover: var(--color-tertiary-hover);
@btn-default-color: var(--colors-foregrounds-content-inverted);
@btn-default-color-hover: var(--colors-foregrounds-content-inverted);
@btn-disabled-bg: var(--colors-surface-white);
@btn-disabled-border: #cfcfcf;
@btn-disabled-color: #cfcfcf;
@btn-facebook-bg: #4267b2ff;
@btn-facebook-bg-hover: #3a5a9cff;
@btn-facebook-border: #4267b2ff;
@btn-facebook-color: var(--colors-foregrounds-content-inverted);
@btn-google-bg: var(--colors-surface-white);
@btn-google-bg-hover: #f0f0f0ff;
@btn-google-border: var(--colors-foregrounds-borders-secondary);
@btn-google-color: var(--colors-foregrounds-content-secondary);
@btn-plain-color: var(--color-primary);
@btn-plain-color-hover: var(--color-primary-hover);
@btn-primary-bg: var(--color-primary);
@btn-primary-bg-hover: var(--color-primary-hover);
@btn-primary-border: var(--color-primary);
@btn-primary-border-hover: var(--color-primary-hover);
@btn-primary-color: var(--colors-foregrounds-content-inverted);
@btn-primary-color-hover: var(--colors-foregrounds-content-inverted);
@btn-secondary-bg: var(--colors-surface-white);
@btn-secondary-bg-hover: var(--color-primary);
@btn-secondary-border: var(--color-primary);
@btn-secondary-border-hover: var(--color-primary);
@btn-secondary-color: var(--color-primary);
@btn-secondary-color-hover: var(--colors-foregrounds-content-inverted);
@btn-seznam-bg: #cc0000ff;
@btn-seznam-bg-hover: #ad0000ff;
@btn-seznam-border: #cc0000ff;
@btn-seznam-color: var(--colors-foregrounds-content-inverted);
@btn-special-bg: var(--color-tertiary-hover);
@btn-special-bg-hover: e("hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), calc(var(--color-tertiary-hover-l) - 3%))");
@btn-special-border: e("hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), calc(var(--color-tertiary-hover-l) - 3%))");
@btn-special-color: var(--colors-foregrounds-content-inverted);
@btn-special-color-hover: var(--colors-foregrounds-content-inverted);
@cart-count-bg: var(--color-primary);
@cart-count-color: var(--colors-foregrounds-content-inverted);
@cart-table-td-bg-color: var(--colors-surface-primary);
@cart-table-td-border-bottom-color: var(--colors-foregrounds-borders-secondary);
@cart-table-td-border-right-color: var(--colors-foregrounds-borders-secondary);
@categories-arrow-color: var(--color-primary);
@categories-bg-active: var(--color-primary);
@categories-bg-active-hover: var(--color-primary);
@categories-bg-child-active: inherit;
@categories-bg-hover: inherit;
@categories-bullet-color: var(--color-primary);
@categories-color: var(--colors-foregrounds-content-secondary);
@categories-color-active: var(--colors-foregrounds-content-inverted);
@categories-color-active-hover: var(--colors-foregrounds-content-inverted);
@categories-color-child-active: var(--color-primary);
@categories-color-hover: var(--color-primary);
@categories-default-bg: inherit;
@categories-default-border: inherit;
@categories-variant-bg: inherit;
@categories-variant-border: inherit;
@color-available: var(--colors-state-success);
@color-for-free: var(--colors-state-success);
@color-header-background: var(--color-header-background);
@color-primary: var(--color-primary);
@color-primary-hover: var(--color-primary-hover);
@color-secondary: var(--color-secondary);
@color-secondary-hover: var(--color-secondary-hover);
@color-tertiary: var(--color-tertiary);
@color-tertiary-hover: var(--color-tertiary-hover);
@color-tertiary-hover-hover: e("hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), calc(var(--color-tertiary-hover-l) - 3%))");
@colorbox-bg: var(--colors-surface-primary);
@colorbox-overlay-bg: var(--colors-surface-primary);
@colorbox-title-bg: var(--colors-surface-primary);
@content-box-bg: var(--colors-surface-primary);
@filter-bg: var(--colors-surface-secondary);
@filter-border-bottom: transparent;
@filter-border-top: var(--colors-foregrounds-borders-secondary);
@filter-count-bg: var(--colors-surface-white);
@filter-total-count-color: var(--colors-foregrounds-content-secondary);
@flag-action-bg: var(--colors-tags-pink);
@flag-color: peru;
@flag-default-bg: var(--colors-foregrounds-borders-secondary);
@flag-discount-bg: var(--colors-tags-blue);
@flag-doprodej-bg: peru;
@flag-freeshipping-bg: var(--colors-tags-green);
@flag-gift-bg: var(--colors-tags-pink);
@flag-new-bg: var(--colors-tags-green);
@flag-pripravujeme-bg: peru;
@flag-sleva-bg: peru;
@flag-tip-bg: var(--colors-tags-turquoise);
@footer-bg: var(--colors-surface-primary);
@footer-color: var(--colors-foregrounds-content-tertiary);
@footer-secondary-color: var(--colors-foregrounds-content-tertiary);
@gift-name-color: var(--color-secondary);
@gray: #cfcfcf;
@gray-dark: #666;
@gray-light: #dadada;
@gray-lighter: #f7f7f7;
@green: var(--colors-state-success);
@header-bg-color: var(--colors-surface-primary);
@header-bg-image: none;
@header-color: var(--color-primary);
@headings-color: var(--colors-foregrounds-headlines-primary);
@input-bg: var(--colors-forms-background);
@input-bg-disabled: var(--colors-forms-disabled);
@input-border: #919191ff;
@input-border-focus: #3f7e88ff;
@input-color: var(--colors-foregrounds-content-primary);
@input-color-disabled: var(--colors-foregrounds-content-secondary);
@input-color-nonfocused: var(--colors-foregrounds-content-secondary);
@input-color-placeholder: #b6b6b6;
@link-color: var(--color-primary);
@link-hover-color: var(--color-primary-hover);
@loader-accented-color-outer: var(--color-primary-hover);
@loader-color-inner: transparent;
@loader-color-outer: var(--color-primary);
@loader-static-color-inner: transparent;
@loader-static-color-outer: var(--color-primary);
@menu-helper-item-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-bg: e("hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 7%))");
@menu-helper-span-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-color: var(--colors-foregrounds-content-inverted);
@menu-helper-submenu-bg: var(--colors-surface-white);
@menu-helper-submenu-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-submenu-color: var(--colors-foregrounds-content-secondary);
@menu-helper-submenu-color-hover: var(--color-primary);
@navigation-bg: var(--color-primary);
@navigation-bg-small: var(--colors-surface-white);
@navigation-button-cart-bg: transparent;
@navigation-button-cart-bg-hover: transparent;
@navigation-button-cart-color: var(--color-primary);
@navigation-button-cart-color-hover: var(--color-primary);
@navigation-button-login-bg: transparent;
@navigation-button-login-bg-hover: transparent;
@navigation-button-login-color: var(--colors-foregrounds-content-tertiary);
@navigation-button-login-color-hover: var(--color-primary);
@navigation-button-navigation-bg: var(--colors-surface-white);
@navigation-button-navigation-bg-hover: var(--color-primary);
@navigation-button-navigation-color: var(--colors-foregrounds-content-inverted);
@navigation-button-navigation-color-hover: var(--colors-foregrounds-content-inverted);
@navigation-button-search-bg: var(--color-primary);
@navigation-button-search-bg-hover: var(--color-primary);
@navigation-button-search-color: var(--colors-foregrounds-content-inverted);
@navigation-button-search-color-hover: var(--colors-foregrounds-content-inverted);
@navigation-color: var(--colors-foregrounds-content-inverted);
@navigation-color-hover: var(--color-primary);
@navigation-color-small: var(--colors-foregrounds-content-secondary);
@navigation-color-small-hover: var(--color-primary);
@navigation-item-bg: transparent;
@navigation-item-bg-hover: var(--colors-surface-primary);
@navigation-item-border-color: e("hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 7%))");
@navigation-item-border-color-small: var(--colors-foregrounds-borders-secondary);
@navigation-item-color: var(--colors-foregrounds-content-inverted);
@navigation-item-color-hover: var(--color-primary);
@navigation-menu-level-2-bg: var(--colors-surface-white);
@navigation-menu-level-2-border-color: var(--color-primary);
@navigation-menu-level-2-color: var(--colors-foregrounds-content-secondary);
@navigation-menu-level-2-color-hover: var(--color-primary);
@news-item-time-color: var(--colors-foregrounds-content-tertiary);
@news-item-widget-border-color: var(--colors-foregrounds-borders-secondary);
@overlay-bg: var(--colors-surface-overlay);
@p-code-color: var(--colors-foregrounds-content-tertiary);
@old-pagination-link-bg: var(--colors-surface-secondary);
@old-pagination-link-bg-current: transparent;
@old-pagination-link-bg-hover: var(--color-primary);
@old-pagination-link-color: var(--colors-foregrounds-content-secondary);
@old-pagination-link-color-current: var(--colors-foregrounds-content-secondary);
@old-pagination-link-color-hover: var(--colors-foregrounds-content-inverted);
@pagination-link-bg: var(--colors-surface-white);
@pagination-link-bg-hover: var(--color-primary);
@pagination-link-border-color: var(--color-primary);
@pagination-link-border-color-hover: var(--color-primary);
@pagination-link-color: var(--color-primary);
@pagination-link-color-hover: var(--colors-foregrounds-content-inverted);
@popup-widget-bg: var(--colors-surface-white);
@popup-widget-border-color: var(--colors-foregrounds-borders-secondary);
@popup-widget-color: var(--colors-foregrounds-content-secondary);
@price-range-bar-bg: var(--color-secondary);
@price-range-bg: var(--colors-foregrounds-borders-secondary);
@price-range-border-color: transparent;
@product-bg: var(--colors-surface-white);
@qrcode-border-color: var(--colors-foregrounds-borders-primary);
@quantity-arrows-bg-color: var(--colors-surface-secondary);
@quantity-arrows-color: inherit;
@quantity-discounts-background: none;
@quantity-discounts-headline-color: var(--colors-foregrounds-headlines-primary);
@quantity-discounts-item-background: var(--colors-surface-primary);
@quantity-discounts-item-border-color: var(--colors-foregrounds-borders-secondary);
@quantity-discounts-item-highlighted-background: var(--colors-surface-white);
@quantity-discounts-item-highlighted-color: var(--colors-foregrounds-content-secondary);
@quantity-discounts-item-hover-background: none;
@quantity-input-bg-color: inherit;
@question-tooltip-bg: var(--color-primary);
@question-tooltip-border: var(--color-primary);
@question-tooltip-color: var(--colors-foregrounds-content-inverted);
@radio-wrapper-bg: inherit;
@radio-wrapper-border: var(--colors-foregrounds-borders-secondary);
@rating-active-color: var(--colors-surface-rating);
@rating-bar-bg: var(--colors-foregrounds-borders-secondary);
@rating-bar-bg-active: var(--color-primary);
@rating-default-color: var(--colors-foregrounds-content-tertiary);
@rating-list-star-color: var(--colors-foregrounds-icons-primary);
@red: #d33a36ff;
@save-price-color: var(--color-secondary);
@sidebar-bg: var(--colors-surface-secondary);
@sidebar-border-bg: var(--colors-foregrounds-borders-secondary);
@social-btn-bg: var(--colors-surface-primary);
@social-btn-bg-hover: var(--color-tertiary);
@social-btn-border: var(--color-tertiary);
@social-btn-border-hover: var(--color-tertiary-hover);
@social-btn-color: var(--color-tertiary);
@social-btn-color-hover: var(--colors-foregrounds-content-inverted);
@socialLoginTextShadow: peru;
@state-danger-bg: #d33a36ff;
@state-danger-border: darken(spin(@state-danger-bg, -10), 5%);
@state-danger-text: var(--colors-foregrounds-content-inverted);
@state-info-bg: #3531ffff;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);
@state-info-text: var(--colors-foregrounds-content-inverted);
@state-success-bg: #3c840fff;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);
@state-success-text: var(--colors-foregrounds-content-inverted);
@state-warning-bg: #c75300ff;
@state-warning-border: darken(spin(@state-warning-bg, -10), 5%);
@state-warning-text: var(--colors-foregrounds-content-inverted);
@step-active-bg: transparent;
@step-active-color: var(--color-primary);
@step-active-color-hover: var(--color-primary);
@step-bg: transparent;
@step-color: var(--colors-foregrounds-content-tertiary);
@step-completed-color: var(--colors-foregrounds-content-tertiary);
@subcategories-before-bg: var(--colors-surface-tertiary);
@subcategories-divider-bg: var(--colors-foregrounds-borders-secondary);
@submenu-arrow-color: peru;
@tab-border-color: transparent;
@tab-border-color-active: var(--colors-surface-secondary);
@tab-border-color-hover: var(--colors-surface-secondary);
@tab-link-bg: var(--colors-surface-secondary);
@tab-link-bg-active: var(--colors-surface-primary);
@tab-link-bg-hover: var(--colors-surface-primary);
@tab-link-color: var(--colors-foregrounds-content-secondary);
@tab-link-color-active: var(--colors-foregrounds-content-primary);
@tab-link-color-hover: var(--color-primary);
@tabs-bg: var(--colors-surface-secondary);
@tabs-border-color: var(--colors-surface-secondary);
@template-font: var(--template-font);
@template-headings-font: var(--template-headings-font);
@text-color: var(--colors-foregrounds-content-secondary);
@text-color-lighter: var(--colors-foregrounds-content-tertiary);
@text-muted-color: var(--colors-foregrounds-content-tertiary);
@thumbnail-highlight-color: var(--color-primary);
@top-products-border-color: var(--colors-foregrounds-borders-secondary);
@top-products-border-color-variant: var(--colors-foregrounds-borders-secondary);
@top-products-image-bg: var(--colors-surface-secondary);
@ui-menu-active-bg: #f6f6f6;
@ui-menu-bg: var(--colors-surface-primary);
@ui-menu-border: var(--colors-foregrounds-borders-secondary);
@ui-slider-bg: var(--colors-foregrounds-borders-secondary);
@ui-slider-border: inherit;
@ui-slider-handle-bg: var(--color-primary);
@ui-slider-handle-bg-hover: var(--color-primary);
@ui-slider-handle-color: var(--colors-surface-white);
@ui-slider-range-bg: var(--color-primary);
@ui-slider-range-border: inherit;
@user-action-window-bg: var(--colors-surface-white);
@user-action-window-color: var(--colors-foregrounds-content-secondary);
@user-action-window-link-color: var(--color-primary);
