:where(.ums_forms_redesign--on) & {
  // TODO: Remove this wrapper in issue #26651
  form {
    h2 {
      font-size: 22px;
      margin: 20px 0;
    }
  }
  .form-group .msg-error {
    color: var(--colors-forms-critical);
    background-color: var(--colors-computed-01);
    padding: 3px;
  }
  .box-subscribe {
    form {
      width: 100%;
    }
    .label {
      margin-bottom: 0;
    }
  }
}
