@carousel_control-size: 50px;

.carousel-control {
    opacity: 0;
    text-decoration: none;
    .transition(opacity @transition-timing @transition-duration);
    &::before {
        &:extend(.shp-icon);;
        position: absolute;
        top: 50%;
        .square(@carousel_control-size);
        margin-top: -(round(@carousel_control-size / 2));
        font-size: 20px;
        line-height: @carousel_control-size;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(0,0,0,.25);
        text-shadow: none;
    }
    &.left,
    &.right {
        background: none;
    }
    &.left {
        &::before {
            content: @icon-chevron-left-code;
            left: 20px;
        }
    }
    &.right {
        &::before {
            content: @icon-chevron-right-code;
            right: 20px;
        }
    }
    &:hover {
        text-decoration: none;
    }
    .carousel:hover & {
        opacity: 1;
    }
}

.multiple-columns-body .wide-carousel {
    @media (min-width: @screen-sm-min) {
        padding-left: round(@grid-gutter-width / 2);
    }
}
