@subcategories_chevron-size: 8px;
@subcategories_mobile-line-height: round(@font-size-base + 2) ;
.subcategories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -(round(@grid-gutter-width / 4)) @line-height-computed;
    padding: 0;
    li {
        list-style: none;
        flex: 0 0 auto;
        padding: round(@grid-gutter-width / 4);
        a {
            position: relative;
            display: flex;
            align-items: center;
            height: 51px;
            padding: round(@grid-gutter-width / 6) @grid-gutter-width  round(@grid-gutter-width / 6)  round(@grid-gutter-width / 3);
            border-style: solid;
            border-width: 1px;
            font-weight: 500;
            .text {
                max-height: round(@line-height-computed * 2);
                overflow: hidden;
            }
            &::before {
                &:extend(.shp-icon);
                content: @icon-chevron-right-code;
                position: absolute;
                right: round(@grid-gutter-width / 4);
                top: 50%;
                margin-top: -(round(@subcategories_chevron-size / 2));
                font-size: @subcategories_chevron-size;
                line-height: @subcategories_chevron-size; 
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                .square(100%);
                background-color: transparent;
                .transition(background-color @transition-duration @transition-timing);
            }
            &:hover {
                text-decoration: none;
            }
        }
        &.divider {
            margin: @subcategories-divider-spacing round(@grid-gutter-width / 4);
            padding: 0;
            width: calc(100% - (@grid-gutter-width / 2));
        }
    }
    &.with-image {
        li {
            a {
                display: flex;
                align-items: center;
                padding-left: round(@grid-gutter-width / 6);
                .image {
                    width: 25%;
                    text-align: center;
                    img {
                        max-height: 30px;
                        width: auto;
                    }
                }
                .text {
                    width: 75%;
                    padding-left: round(@grid-gutter-width / 4);
                    flex-grow: 0;
                    text-align: left;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &.parametric {
                text-align: center;
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        li {
            a {
                padding: 0 round(@grid-gutter-width / 1.5) 0 round(@grid-gutter-width / 3);
                .text {
                    max-height: round(@subcategories_mobile-line-height * 3);
                    font-size: @font-size-base;
                    line-height: @subcategories_mobile-line-height;
                }
            }
        }
    }
}
