.breadcrumbs {
    padding-bottom: round(@line-height-computed / 2);
    font-size: @font-size-small;
    .multiple-columns-body.type-product & {
        @media (min-width: @screen-sm-min) {
            width: calc(100% - @sidebar-smaller-width);
            margin-left: auto;
        }
        @media (min-width: @screen-md-min) {
            width: calc(100% - @sidebar-larger-width);
            padding-left: 20px;
          }
        @media (min-width: @screen-lg-min) {
            width: calc((100% - @sidebar-larger-width) / 2);
            padding-left: 0px;
        }
    }
    .type-product & {
        padding-bottom: 0;
    }
    > span {
        vertical-align: middle;
        a {
            text-decoration: underline;
        }
    }
    @media (min-width: @screen-sm-min) {
        padding-left: round(@grid-gutter-width / 2);
        padding-right: round(@grid-gutter-width / 2);
    }
    @media (min-width: @screen-md-min) {
        .type-product & {
            width: 50%;
            margin-left: auto;
            padding-left: 0;
            padding-bottom: 0;
        }
        .aside-indented & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.navigation-home-icon {
    &::before {
        &:extend(.shp-icon);
        content: @icon-home-code;
        margin-top: -2px;
    }
}
