// TODO: Remove this in issue 20873 -- START
:where(.ums_discussion_rating_forms--on) {
  // TODO: Remove this in issue 20873 -- END
  .btn,
  a.btn,
  .btn.btn-conversion,
  a.btn.btn-conversion {
    font-weight: 900;
    text-transform: none;
    &.btn-cart {
      &::before {
        &:extend(.shp-icon);
      }
    }
  }

  .btn--link,
  a.btn--link {
    font-weight: @font-weight-base;
    color: @text-color;
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      color: @link-hover-color;
      text-decoration: underline;
    }
  }
  // TODO: Remove this in issue 20873 -- START
}
// TODO: Remove this in issue 20873 -- END
