.no-javascript {
    padding: 16px;
    background: #ffffe3;

    &__title {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 12px;
    }

    &__text a {
        text-decoration: underline;
        color: #3b89ff;

        &:hover, &:focus {
            color: #1e61c7;
        }
    }
}
