.category-title,
article header h1,
.content-inner > h1,
.content > h2 {
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
  }
}

.content-inner > h1,
.content > h2 {
  text-align: center;
}

.category-top {
  text-align: center;
  padding-bottom: @line-height-computed;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: @triple-spacing;

  @media (min-width: @screen-sm-min) {
    margin-bottom: @penta-spacing;
  }
}

.products-top-header {
  padding-top: round(@line-height-computed * 2);
  border-top-style: solid;
  border-top-width: 1px;
}

.products-top {
  justify-content: center;
  text-align: left;

  .name {
    font-size: @font-size-larger;
    font-weight: @font-weight-h1;
  }

  > div.product {
    .p {
      align-items: flex-start;
    }

    .aside-indented & {
      @media (min-width: @screen-lg-min) {
        width: 25%;
      }
    }
  }
}

.toggle-top-products {
  font-size: @font-size-larger;
  font-weight: @font-weight-base;
}

.category-header {
  container-name: category-header;
  container-type: inline-size;
  padding-top: @basic-spacing;
  border-radius: @border-radius-base;
}

.listSorting__controls {
  gap: 1px @half-basic-spacing;
}

.listSorting__control {
  padding: @double-spacing;

  font-size: @font-size-larger;
  line-height: 24px;
  letter-spacing: 0.4px;

  border: none;
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
}

@container category-header (min-width: 760px) {
  .listSorting__control {
    padding: @double-spacing @penta-spacing;
  }
}

.listSorting__control--current {
  font-weight: @font-weight-h1;
}

.category-banners {
  margin-top: @basic-spacing;
  margin-bottom: @double-spacing;
}
