:root {
  // form tokens
  --form-controls-padding-y: 6px;
  --form-controls-padding-x: 12px;

  --inline-form-group-labels-width: 184px;
  --inline-form-group-labels-computed-padding-left: var(--inline-form-group-labels-width);
}
