@accent-color: var(--colors-foregrounds-content-primary);
@banner-color: var(--color-secondary);
@body-bg: var(--colors-surface-primary);
@border-color: var(--colors-foregrounds-borders-secondary);
@box-accent-bg: inherit;
@box-bg: inherit;
@box-color: inherit;
@box-dark-bg: inherit;
@box-dark-color: inherit;
@box-price-color: var(--colors-foregrounds-content-inverted);
@box-variant-bg: inherit;
@breadcrumbs-bg: var(--colors-surface-primary);
@breadcrumbs-border: var(--colors-foregrounds-borders-secondary);
@breadcrumbs-color: var(--colors-foregrounds-content-primary);
@breadcrumbs-link-color: var(--colors-foregrounds-content-tertiary);
@breadcrumbs-link-color-hover: var(--color-secondary);
@btn-conversion-bg: var(--color-secondary);
@btn-conversion-bg-hover: var(--color-secondary-hover);
@btn-conversion-border: var(--color-secondary);
@btn-conversion-border-hover: var(--color-secondary-hover);
@btn-conversion-color: var(--colors-foregrounds-content-inverted);
@btn-conversion-color-hover: var(--colors-foregrounds-content-inverted);
@btn-default-bg: var(--color-secondary);
@btn-default-bg-hover: var(--color-secondary-hover);
@btn-default-border: var(--color-secondary);
@btn-default-border-hover: var(--color-secondary-hover);
@btn-default-color: var(--colors-foregrounds-content-inverted);
@btn-default-color-hover: var(--colors-foregrounds-content-inverted);
@btn-disabled-bg: var(--colors-surface-white);
@btn-disabled-border: var(--colors-foregrounds-borders-secondary);
@btn-disabled-color: #cfcfcf;
@btn-facebook-bg: #0064e0ff;
@btn-facebook-bg-hover: #0057c2ff;
@btn-facebook-border: #0064e0ff;
@btn-facebook-color: var(--colors-foregrounds-content-inverted);
@btn-google-bg: var(--colors-surface-white);
@btn-google-bg-hover: #f0f0f0ff;
@btn-google-border: #747775ff;
@btn-google-color: #1f1f1fff;
@btn-plain-color: var(--color-secondary);
@btn-plain-color-hover: var(--color-secondary-hover);
@btn-primary-bg: var(--colors-surface-white);
@btn-primary-bg-hover: var(--color-secondary);
@btn-primary-border: var(--color-secondary);
@btn-primary-border-hover: var(--color-secondary);
@btn-primary-color: var(--color-secondary);
@btn-primary-color-hover: var(--colors-foregrounds-content-inverted);
@btn-secondary-bg: var(--color-secondary);
@btn-secondary-bg-hover: var(--color-secondary-hover);
@btn-secondary-border: var(--color-secondary);
@btn-secondary-border-hover: var(--color-secondary-hover);
@btn-secondary-color: var(--colors-foregrounds-content-inverted);
@btn-secondary-color-hover: var(--colors-foregrounds-content-inverted);
@btn-seznam-bg: #cc0000;
@btn-seznam-bg-hover: #ad0000ff;
@btn-seznam-border: #cc0000;
@btn-seznam-color: var(--colors-foregrounds-content-inverted);
@btn-special-bg: var(--color-primary-hover);
@btn-special-bg-hover: hsla(var(--color-primary-hover-h), var(--color-primary-hover-s), var(--color-primary-hover-l), 0.8);
@btn-special-border: var(--color-primary-hover);
@btn-special-color: var(--colors-foregrounds-content-inverted);
@btn-special-color-hover: var(--colors-foregrounds-content-inverted);
@cart-count-bg: var(--color-secondary);
@cart-count-color: var(--colors-foregrounds-content-inverted);
@cart-table-td-bg-color: var(--colors-surface-primary);
@cart-table-td-border-bottom-color: var(--colors-foregrounds-borders-secondary);
@cart-table-td-border-right-color: transparent;
@categories-arrow-color: var(--color-secondary);
@categories-bg-active: color-mix(in srgb, var(--colors-surface-secondary), #000 3%);
@categories-bg-active-hover: color-mix(in srgb, var(--colors-surface-secondary), #000 3%);
@categories-bg-child-active: var(--colors-surface-secondary);
@categories-bg-hover: var(--colors-surface-secondary);
@categories-bullet-color: var(--color-secondary);
@categories-color: var(--colors-foregrounds-content-primary);
@categories-color-active: var(--color-secondary);
@categories-color-active-hover: var(--color-secondary);
@categories-color-child-active: var(--color-secondary);
@categories-color-hover: var(--color-secondary);
@categories-default-bg: inherit;
@categories-default-border: inherit;
@categories-variant-bg: inherit;
@categories-variant-border: inherit;
@color-available: var(--colors-state-success);
@color-for-free: var(--colors-state-success);
@color-primary: var(--color-primary);
@color-primary-hover: var(--color-primary-hover);
@color-secondary: var(--color-secondary);
@color-secondary-hover: var(--color-secondary-hover);
@color-tertiary: var(--color-tertiary);
@color-tertiary-hover: var(--color-tertiary-hover);
@color-tertiary-hover-hover: e("hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), calc(var(--color-tertiary-hover-l) - 3%))");
@colorbox-bg: var(--colors-surface-primary);
@colorbox-overlay-bg: var(--colors-surface-black);
@colorbox-title-bg: var(--colors-surface-primary);
@content-box-bg: var(--colors-surface-primary);
@filter-bg: var(--colors-surface-secondary);
@filter-border-bottom: transparent;
@filter-border-top: e("hsl(var(--color-tertiary-h), var(--color-tertiary-s), calc(var(--color-tertiary-l) - 10%))");
@filter-count-bg: var(--colors-surface-white);
@filter-total-count-color: var(--colors-foregrounds-content-secondary);
@flag-action-bg: var(--colors-tags-pink);
@flag-default-bg: var(--colors-tags-blue);
@flag-discount-bg: var(--colors-tags-blue);
@flag-freeshipping-bg: var(--colors-tags-green);
@flag-gift-bg: var(--colors-tags-pink);
@flag-new-bg: var(--colors-tags-green);
@flag-tip-bg: var(--colors-tags-turquoise);
@footer-bg: var(--colors-surface-primary);
@footer-color: var(--colors-foregrounds-content-tertiary);
@footer-secondary-color: var(--colors-foregrounds-content-tertiary);
@gift-name-color: var(--color-secondary);
@gray: #cfcfcf;
@gray-dark: #666;
@gray-light: #dadada;
@gray-lighter: #f7f7f7;
@green: var(--colors-state-success);
@header-bg-color: var(--color-primary);
@header-bg-image: none;
@header-color: var(--color-secondary);
@headings-color: var(--colors-foregrounds-content-primary);
@input-bg: var(--colors-forms-background);
@input-bg-disabled: var(--colors-forms-disabled);
@input-border: var(--colors-forms-border);
@input-border-focus: var(--colors-forms-activated);
@input-color: var(--colors-foregrounds-content-primary);
@input-color-disabled: var(--colors-foregrounds-content-secondary);
@input-color-nonfocused: var(--colors-foregrounds-content-secondary);
@input-color-placeholder: #b6b6b6;
@link-color: var(--color-secondary);
@link-hover-color: var(--color-secondary-hover);
@loader-accented-color-outer: var(--color-primary-hover);
@loader-color-inner: transparent;
@loader-color-outer: var(--color-secondary);
@loader-static-color-inner: transparent;
@loader-static-color-outer: var(--color-secondary);
@menu-helper-item-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-bg: var(--colors-surface-tertiary);
@menu-helper-span-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-color: var(--colors-foregrounds-content-primary);
@menu-helper-submenu-bg: var(--colors-surface-white);
@menu-helper-submenu-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-submenu-color: var(--colors-foregrounds-content-primary);
@menu-helper-submenu-color-hover: var(--color-secondary);
@navigation-bg: var(--color-primary);
@navigation-bg-small: var(--colors-surface-white);
@navigation-button-cart-bg: transparent;
@navigation-button-cart-bg-hover: transparent;
@navigation-button-cart-color: var(--color-secondary);
@navigation-button-cart-color-hover: var(--color-secondary);
@navigation-button-login-bg: var(--color-primary);
@navigation-button-login-bg-hover: var(--color-primary);
@navigation-button-login-color: var(--colors-foregrounds-content-primary);
@navigation-button-login-color-hover: var(--color-secondary-hover);
@navigation-button-navigation-bg: var(--color-primary);
@navigation-button-navigation-bg-hover: var(--color-primary);
@navigation-button-navigation-color: var(--colors-foregrounds-content-primary);
@navigation-button-navigation-color-hover: var(--colors-foregrounds-content-primary);
@navigation-button-search-bg: var(--color-primary);
@navigation-button-search-bg-hover: var(--color-primary);
@navigation-button-search-color: var(--colors-foregrounds-content-primary);
@navigation-button-search-color-hover: var(--colors-foregrounds-content-primary);
@navigation-color: var(--colors-foregrounds-content-primary);
@navigation-color-hover: var(--colors-foregrounds-content-primary);
@navigation-color-small: var(--colors-foregrounds-content-primary);
@navigation-color-small-hover: var(--color-secondary);
@navigation-item-bg: transparent;
@navigation-item-bg-hover: var(--color-primary-hover);
@navigation-item-border-color: transparent;
@navigation-item-border-color-small: var(--colors-foregrounds-borders-secondary);
@navigation-item-color: var(--colors-foregrounds-content-primary);
@navigation-item-color-hover: var(--colors-foregrounds-content-primary);
@navigation-menu-level-2-bg: var(--colors-surface-white);
@navigation-menu-level-2-border-color: var(--color-primary);
@navigation-menu-level-2-color: var(--colors-foregrounds-content-primary);
@navigation-menu-level-2-color-hover: var(--color-secondary);
@news-item-time-color: var(--colors-foregrounds-content-tertiary);
@news-item-widget-border-color: transparent;
@overlay-bg: var(--colors-surface-overlay);
@p-code-color: var(--colors-foregrounds-content-tertiary);
@pagination-link-bg: var(--colors-surface-white);
@pagination-link-bg-hover: var(--color-secondary);
@pagination-link-border-color: var(--color-secondary);
@pagination-link-border-color-hover: var(--color-secondary);
@pagination-link-color: var(--color-secondary);
@pagination-link-color-hover: var(--colors-surface-white);
@popup-widget-bg: var(--colors-surface-white);
@popup-widget-border-color: var(--colors-foregrounds-borders-secondary);
@popup-widget-color: var(--colors-foregrounds-content-primary);
@price-range-bar-bg: var(--color-secondary);
@price-range-bg: var(--colors-foregrounds-borders-secondary);
@price-range-border-color: transparent;
@product-bg: var(--colors-surface-white);
@qrcode-border-color: var(--colors-foregrounds-borders-primary);
@quantity-arrows-bg-color: var(--colors-surface-secondary);
@quantity-arrows-color: inherit;
@quantity-discounts-background: none;
@quantity-discounts-headline-color: var(--color-tertiary-hover);
@quantity-discounts-item-background: var(--colors-surface-white);
@quantity-discounts-item-border-color: var(--colors-foregrounds-borders-primary);
@quantity-discounts-item-highlighted-background: var(--colors-surface-white);
@quantity-discounts-item-highlighted-color: var(--colors-foregrounds-content-primary);
@quantity-discounts-item-hover-background: var(--colors-surface-tertiary);
@quantity-input-bg-color: inherit;
@question-tooltip-bg: var(--colors-foregrounds-icons-primary);
@question-tooltip-border: var(--colors-foregrounds-icons-primary);
@question-tooltip-color: var(--colors-foregrounds-content-inverted);
@radio-wrapper-bg: inherit;
@radio-wrapper-border: var(--colors-foregrounds-borders-secondary);
@rating-active-color: var(--colors-surface-rating);
@rating-bar-bg: hsla(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l), 0.16);
@rating-bar-bg-active: hsla(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l), 0.8);
@rating-default-color: var(--colors-foregrounds-icons-primary);
@rating-list-star-color: var(--colors-foregrounds-icons-primary);
@red: var(--colors-state-danger);
@save-price-color: var(--color-secondary);
@sidebar-bg: var(--colors-surface-secondary);
@sidebar-border-bg: e("hsl(var(--color-tertiary-h), var(--color-tertiary-s), calc(var(--color-tertiary-l) - 6%))");
@social-btn-bg: var(--colors-surface-primary);
@social-btn-bg-hover: var(--color-secondary);
@social-btn-border: var(--color-secondary);
@social-btn-border-hover: var(--color-secondary-hover);
@social-btn-color: var(--color-secondary);
@social-btn-color-hover: var(--colors-foregrounds-content-inverted);
@state-danger-bg: #d33a36ff;
@state-danger-border: #c2263cff;
@state-danger-text: var(--colors-foregrounds-content-inverted);
@state-info-bg: #3531ffff;
@state-info-border: #0d30ffff;
@state-info-text: var(--colors-foregrounds-content-inverted);
@state-success-bg: #3c840fff;
@state-success-border: #426d0cff;
@state-success-text: var(--colors-foregrounds-content-inverted);
@state-warning-bg: #c75300ff;
@state-warning-border: #ae2c00ff;
@state-warning-text: var(--colors-foregrounds-content-inverted);
@step-active-bg: transparent;
@step-active-color: var(--color-secondary);
@step-active-color-hover: var(--color-secondary-hover);
@step-bg: transparent;
@step-color: var(--colors-foregrounds-content-tertiary);
@step-completed-color: var(--colors-state-success);
@subcategories-before-bg: var(--colors-foregrounds-content-primary);
@subcategories-divider-bg: var(--colors-foregrounds-borders-secondary);
@tab-border-color: transparent;
@tab-border-color-active: var(--colors-surface-secondary);
@tab-border-color-hover: var(--colors-surface-secondary);
@tab-link-bg: var(--colors-surface-secondary);
@tab-link-bg-active: var(--colors-surface-white);
@tab-link-bg-hover: var(--colors-surface-white);
@tab-link-color: var(--colors-foregrounds-content-primary);
@tab-link-color-active: var(--colors-foregrounds-content-primary);
@tab-link-color-hover: var(--color-secondary);
@tabs-bg: var(--colors-surface-secondary);
@tabs-border-color: var(--colors-surface-secondary);
@template-font: var(--template-font);
@template-headings-font: var(--template-headings-font);
@text-color: var(--colors-foregrounds-content-primary);
@text-color-lighter: hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), var(--color-tertiary-hover-l), 0.75);
@text-muted-color: hsl(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), var(--color-tertiary-hover-l), 0.63);
@thumbnail-highlight-color: var(--color-primary);
@top-products-border-color: var(--colors-foregrounds-borders-secondary);
@top-products-border-color-variant: var(--colors-foregrounds-borders-secondary);
@top-products-image-bg: var(--colors-surface-secondary);
@ui-menu-active-bg: lighten(#dadada, 5%);
@ui-menu-bg: var(--colors-surface-primary);
@ui-menu-border: var(--colors-foregrounds-borders-secondary);
@ui-slider-bg: var(--colors-foregrounds-borders-secondary);
@ui-slider-border: inherit;
@ui-slider-handle-bg: var(--color-secondary);
@ui-slider-handle-bg-hover: var(--color-secondary);
@ui-slider-handle-color: darken(#dadada, 5%);
@ui-slider-range-bg: var(--color-secondary);
@ui-slider-range-border: inherit;
@user-action-window-bg: var(--colors-surface-primary);
@user-action-window-color: var(--colors-foregrounds-content-primary);
@user-action-window-link-color: var(--color-primary);
