@banner-color: var(--colors-foregrounds-content-primary);
@body-bg: var(--colors-surface-primary);
@border-color: var(--colors-foregrounds-borders-secondary);
@box-bg: transparent;
@box-color: var(--colors-foregrounds-content-primary);
@box-price-color: var(--colors-foregrounds-content-inverted);
@box-variant-bg: var(--colors-surface-white);
@breadcrumbs-bg: inherit;
@breadcrumbs-border: var(--colors-foregrounds-borders-secondary);
@breadcrumbs-color: var(--colors-foregrounds-content-tertiary);
@breadcrumbs-link-color: var(--colors-foregrounds-content-tertiary);
@breadcrumbs-link-color-hover: var(--colors-foregrounds-content-primary);
@btn-conversion-bg: var(--color-secondary);
@btn-conversion-bg-hover: var(--color-secondary-hover);
@btn-conversion-border: var(--color-secondary);
@btn-conversion-border-hover: var(--color-secondary-hover);
@btn-conversion-color: var(--colors-foregrounds-content-primary);
@btn-conversion-color-hover: var(--colors-foregrounds-content-primary);
@btn-default-bg: var(--color-secondary);
@btn-default-bg-hover: var(--color-secondary-hover);
@btn-default-border: var(--color-secondary);
@btn-default-border-hover: var(--color-secondary);
@btn-default-color: var(--colors-foregrounds-content-primary);
@btn-default-color-hover: var(--colors-foregrounds-content-primary);
@btn-disabled-bg: var(--colors-surface-white);
@btn-disabled-border: var(--colors-foregrounds-borders-secondary);
@btn-disabled-color: var(--colors-foregrounds-content-tertiary);
@btn-facebook-bg: #0064e0ff;
@btn-facebook-bg-hover: #0057c2ff;
@btn-facebook-border: #0064e0ff;
@btn-facebook-color: var(--colors-foregrounds-content-inverted);
@btn-google-bg: var(--colors-surface-white);
@btn-google-bg-hover: #f0f0f0ff;
@btn-google-border: #747775ff;
@btn-google-color: #1f1f1fff;
@btn-plain-color: var(--color-primary);
@btn-plain-color-hover: var(--color-primary-hover);
@btn-primary-bg: var(--colors-surface-white);
@btn-primary-bg-hover: var(--colors-surface-white);
@btn-primary-border: var(--color-primary);
@btn-primary-border-hover: var(--color-primary-hover);
@btn-primary-color: var(--color-primary);
@btn-primary-color-hover: var(--color-primary-hover);
@btn-secondary-bg: var(--colors-surface-white);
@btn-secondary-bg-hover: var(--colors-surface-white);
@btn-secondary-border: var(--color-primary);
@btn-secondary-border-hover: var(--color-primary-hover);
@btn-secondary-color: var(--color-primary);
@btn-secondary-color-hover: var(--color-primary-hover);
@btn-seznam-bg: #cc0000;
@btn-seznam-bg-hover: #ad0000ff;
@btn-seznam-border: #cc0000;
@btn-seznam-color: var(--colors-foregrounds-content-inverted);
@btn-special-bg: var(--color-tertiary);
@btn-special-bg-hover: var(--color-tertiary-hover);
@btn-special-border: var(--color-tertiary-hover);
@btn-special-color: var(--colors-foregrounds-content-inverted);
@btn-special-color-hover: var(--colors-foregrounds-content-inverted);
@cart-count-bg: var(--_color-header-contrast-bg);
@cart-count-color: var(--_color-header-contrast-text);
@cart-table-td-bg-color: var(--colors-surface-primary);
@cart-table-td-border-bottom-color: var(--colors-foregrounds-borders-secondary);
@cart-table-td-border-right-color: transparent;
@categories-arrow-color: inherit;
@categories-bg-active: inherit;
@categories-bg-active-hover: inherit;
@categories-bg-child-active: inherit;
@categories-bg-hover: inherit;
@categories-bullet-color: transparent;
@categories-color: var(--colors-foregrounds-content-primary);
@categories-color-active: var(--color-primary);
@categories-color-active-hover: inherit;
@categories-color-child-active: var(--color-primary);
@categories-color-hover: inherit;
@categories-default-bg: transparent;
@categories-default-border: transparent;
@categories-variant-bg: var(--colors-surface-white);
@categories-variant-border: var(--colors-foregrounds-borders-secondary);
@color-available: var(--colors-state-success);
@color-for-free: var(--colors-state-success);
@color-header-background: var(--color-header-background);
@color-primary: var(--color-primary);
@color-primary-hover: var(--color-primary-hover);
@color-secondary: var(--color-secondary);
@color-secondary-hover: var(--color-secondary-hover);
@color-tertiary: var(--color-tertiary);
@color-tertiary-hover: var(--color-tertiary-hover);
@colorbox-bg: var(--colors-surface-primary);
@colorbox-overlay-bg: var(--colors-surface-black);
@colorbox-title-bg: var(--colors-surface-primary);
@content-box-bg: var(--colors-surface-primary);
@filter-bg: var(--colors-surface-white);
@filter-border-bottom: transparent;
@filter-border-top: var(--colors-foregrounds-borders-secondary);
@filter-count-bg: var(--colors-surface-secondary);
@filter-total-count-color: var(--colors-foregrounds-content-tertiary);
@flag-action-bg: var(--colors-tags-pink);
@flag-default-bg: var(--colors-tags-blue);
@flag-discount-bg: var(--colors-tags-blue);
@flag-freeshipping-bg: var(--colors-tags-green);
@flag-gift-bg: var(--colors-tags-pink);
@flag-new-bg: var(--colors-tags-green);
@flag-tip-bg: var(--colors-tags-turquoise);
@footer-bg: var(--colors-surface-secondary);
@footer-color: var(--colors-foregrounds-content-primary);
@gift-name-color: var(--color-secondary);
@gray: #cfcfcf;
@gray-dark: #666;
@gray-light: #e6e6e6;
@gray-lighter: #f7f7f7;
@green: var(--colors-state-success);
@header-bg-color: var(--color-header-background);
@header-bg-image: none;
@header-color: var(--_color-header-text);
@headings-color: var(--colors-foregrounds-headlines-primary);
@input-bg: var(--colors-forms-background);
@input-bg-disabled: var(--colors-forms-disabled);
@input-border: var(--colors-forms-border);
@input-border-focus: var(--colors-forms-activated);
@input-color: var(--colors-foregrounds-content-primary);
@input-color-disabled: var(--colors-foregrounds-content-secondary);
@input-color-nonfocused: var(--colors-foregrounds-content-primary);
@input-color-placeholder: #b6b6b6;
@link-color: var(--color-primary);
@link-hover-color: var(--color-primary-hover);
@loader-accented-color-outer: var(--colors-surface-tertiary);
@loader-color-inner: var(--color-primary);
@loader-color-outer: var(--colors-surface-white);
@loader-static-color-inner: transparent;
@loader-static-color-outer: var(--color-primary);
@menu-helper-item-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-bg: transparent;
@menu-helper-span-border-color: var(--colors-foregrounds-borders-secondary);
@menu-helper-span-color: var(--colors-foregrounds-content-primary);
@menu-helper-submenu-bg: var(--colors-surface-white);
@menu-helper-submenu-border-color: transparent;
@menu-helper-submenu-color: var(--colors-foregrounds-content-primary);
@menu-helper-submenu-color-hover: var(--colors-foregrounds-content-primary);
@navigation-bg: transparent;
@navigation-bg-small: var(--colors-surface-white);
@navigation-button-cart-bg: transparent;
@navigation-button-cart-bg-hover: transparent;
@navigation-button-cart-color: var(--_color-header-text);
@navigation-button-cart-color-hover: var(--_color-header-link);
@navigation-button-login-bg: transparent;
@navigation-button-login-bg-hover: transparent;
@navigation-button-login-color: var(--_color-header-text);
@navigation-button-login-color-hover: var(--colors-foregrounds-content-primary);
@navigation-button-navigation-bg: var(--colors-surface-white);
@navigation-button-navigation-bg-hover: transparent;
@navigation-button-navigation-color: var(--_color-header-text);
@navigation-button-navigation-color-hover: var(--_color-header-text);
@navigation-button-search-bg: transparent;
@navigation-button-search-bg-hover: transparent;
@navigation-button-search-color: var(--_color-header-text);
@navigation-button-search-color-hover: var(--_color-header-text);
@navigation-color: var(--colors-foregrounds-content-primary);
@navigation-color-hover: var(--colors-foregrounds-content-primary);
@navigation-color-small: var(--colors-foregrounds-content-primary);
@navigation-color-small-hover: var(--colors-foregrounds-content-primary);
@navigation-item-bg: transparent;
@navigation-item-bg-hover: transparent;
@navigation-item-border-color: transparent;
@navigation-item-border-color-small: var(--colors-foregrounds-borders-secondary);
@navigation-item-color: var(--colors-foregrounds-content-primary);
@navigation-item-color-hover: var(--colors-foregrounds-content-primary);
@navigation-menu-level-2-bg: var(--colors-surface-white);
@navigation-menu-level-2-border-color: var(--color-primary);
@navigation-menu-level-2-color: var(--colors-foregrounds-content-primary);
@navigation-menu-level-2-color-hover: var(--colors-foregrounds-content-primary);
@news-item-time-color: var(--colors-foregrounds-content-tertiary);
@news-item-widget-border-color: var(--colors-foregrounds-borders-secondary);
@overlay-bg: rgba(0,0,0,.65);
@p-code-color: var(--colors-foregrounds-content-tertiary);
@pagination-link-bg: var(--colors-surface-white);
@pagination-link-bg-hover: var(--colors-surface-white);
@pagination-link-border-color: var(--color-primary);
@pagination-link-border-color-hover: var(--color-primary-hover);
@pagination-link-color: var(--color-primary);
@pagination-link-color-hover: var(--color-primary-hover);
@popup-widget-bg: var(--colors-surface-white);
@popup-widget-border-color: var(--colors-foregrounds-borders-secondary);
@popup-widget-color: var(--colors-foregrounds-content-primary);
@price-range-bar-bg: var(--color-secondary);
@price-range-bg: var(--colors-foregrounds-borders-secondary);
@price-range-border-color: var(--colors-foregrounds-borders-secondary);
@product-bg: var(--colors-surface-white);
@qrcode-border-color: var(--colors-foregrounds-borders-primary);
@quantity-arrows-bg-color: inherit;
@quantity-arrows-color: inherit;
@quantity-discounts-background: var(--colors-surface-secondary);
@quantity-discounts-headline-color: var(--colors-foregrounds-headlines-primary);
@quantity-discounts-item-background: var(--colors-surface-white);
@quantity-discounts-item-border-color: var(--colors-forms-border);
@quantity-discounts-item-highlighted-background: var(--colors-surface-white);
@quantity-discounts-item-highlighted-color: var(--colors-foregrounds-content-primary);
@quantity-discounts-item-hover-background: var(--color-secondary-hover);
@quantity-input-bg-color: inherit;
@question-tooltip-bg: var(--colors-surface-white);
@question-tooltip-border: var(--color-primary-hover);
@question-tooltip-color: inherit;
@radio-wrapper-bg: inherit;
@radio-wrapper-border: var(--colors-foregrounds-borders-secondary);
@rating-active-color: var(--color-primary);
@rating-bar-bg: var(--colors-foregrounds-borders-secondary);
@rating-bar-bg-active: var(--color-primary);
@rating-default-color: var(--colors-foregrounds-icons-primary);
@rating-list-star-color: var(--color-primary-hover);
@red: var(--colors-state-danger);
@save-price-color: var(--colors-foregrounds-content-secondary);
@sidebar-bg: var(--colors-surface-primary);
@social-btn-bg: var(--color-secondary);
@social-btn-bg-hover: var(--color-secondary-hover);
@social-btn-border: var(--color-secondary);
@social-btn-border-hover: var(--color-secondary-hover);
@social-btn-color: var(--colors-foregrounds-content-primary);
@social-btn-color-hover: var(--colors-foregrounds-content-primary);
@state-danger-bg: #d33a36ff;
@state-danger-border: #c2263cff;
@state-danger-text: var(--colors-foregrounds-content-inverted);
@state-info-bg: #3531ffff;
@state-info-border: #0d30ffff;
@state-info-text: var(--colors-foregrounds-content-inverted);
@state-success-bg: #3c840fff;
@state-success-border: #426d0cff;
@state-success-text: var(--colors-foregrounds-content-inverted);
@state-warning-bg: #c75300ff;
@state-warning-border: #ae2c00ff;
@state-warning-text: var(--colors-foregrounds-content-inverted);
@step-active-bg: var(--colors-surface-white);
@step-active-color: var(--colors-foregrounds-content-primary);
@step-active-color-hover: var(--colors-foregrounds-content-primary);
@step-bg: transparent;
@step-color: var(--colors-foregrounds-content-primary);
@step-completed-color: var(--colors-foregrounds-content-primary);
@subcategories-before-bg: var(--colors-foregrounds-content-primary);
@subcategories-divider-bg: var(--colors-foregrounds-borders-secondary);
@tab-border-color: var(--colors-foregrounds-borders-secondary);
@tab-border-color-active: var(--colors-foregrounds-borders-secondary);
@tab-border-color-hover: var(--colors-foregrounds-borders-secondary);
@tab-link-bg: transparent;
@tab-link-bg-active: transparent;
@tab-link-bg-hover: transparent;
@tab-link-color: var(--colors-foregrounds-content-primary);
@tab-link-color-active: var(--colors-foregrounds-content-primary);
@tab-link-color-hover: var(--colors-foregrounds-content-primary);
@tabs-bg: transparent;
@tabs-border-color: var(--colors-foregrounds-borders-secondary);
@template-font: var(--template-font);
@template-headings-font: var(--template-headings-font);
@text-color: var(--colors-foregrounds-content-primary);
@text-color-lighter: var(--colors-foregrounds-content-tertiary);
@text-muted-color: var(--colors-foregrounds-content-tertiary);
@thumbnail-highlight-color: var(--color-primary);
@top-products-border-color: var(--colors-foregrounds-borders-secondary);
@top-products-border-color-variant: var(--colors-foregrounds-borders-secondary);
@top-products-image-bg: var(--colors-surface-white);
@ui-menu-active-bg: var(--colors-surface-tertiary);
@ui-menu-bg: var(--colors-surface-primary);
@ui-menu-border: var(--colors-foregrounds-borders-secondary);
@ui-slider-bg: var(--colors-foregrounds-borders-secondary);
@ui-slider-border: var(--colors-foregrounds-borders-secondary);
@ui-slider-handle-bg: var(--color-primary);
@ui-slider-handle-bg-hover: var(--color-primary);
@ui-slider-handle-color: var(--color-primary);
@ui-slider-range-bg: var(--color-secondary);
@ui-slider-range-border: var(--color-secondary);
@user-action-window-bg: var(--colors-surface-white);
@user-action-window-color: var(--colors-foregrounds-content-primary);
@user-action-window-link-color: var(--color-primary);
