/* header start */
.top-navigation-bar {
    background-color: @gray-lighter;
    border-color: @gray-lighter;
    a {
        color: @text-color;
    }

}

.top-navigation-bar-menu-helper,
.dropdown-menu {
    border-color: @border-color;
    background: #fff;
    li {
        a {
            &::before {
                border-color: @border-color;
                background: @border-color;
            }
        }
    }
}

.header-bottom {
    border-color: @border-color;
}

.navigation-in ul.menu-level-2 {
    border-top-color: @border-color;
}

.navigation-buttons a[data-target="search"] {
    background: transparent;
    &:hover {
        background: transparent;
    }
}

.more-items-trigger {
    color: @link-color;
    background-color: @navigation-bg-small;
    &:hover {
        color: @link-hover-color;
    }
}

.breadcrumbs {
    a, span {
        color: @text-muted-color;
        &:hover {
            color: @text-muted-color;
        }
    }
}

.stars-label {
    color: @text-color;
}

table.detail-parameters {
    tbody {
        tr {
            th {
                .row-header-label {
                    background-color: white;
                }
                &:after {
                    border-top-color: @border-color;
                }
            }
            td {
                a {
                    color: @text-color;
                }
            }
        }
    }
}
/* header end */

/* product page start */
.p-thumbnails a {
    img {
        border-color: transparent;
    }
    &:hover {
        img {
            border-color: @border-color;
        }
    }
    &.highlighted {
        img {
            border-color: @border-color;
        }
    }
}

.p-final-price-wrapper {
    .price-final {
        font-family: @template-headings-font;
    }
    .standard-price-label,
    .price-additional {
        color: @text-muted-color;
    }
}

#product-detail-form .advanced-parameter-inner {
    border-color: @border-color;
    &:hover {
        border-color: @border-color;
    }
    &.yes-before {
        border-color: @border-color;
        &::before {
            background-color: white;
            border-color: black;
            color: black;
        }
    }
}

.quantity {
    background: #fff;
    .decrease,
    .increase {
        &:hover {
            &:before {
                background-color: @color-secondary;
            }
        }

    }
}

.link-icons {
    .link-icon {
        color: @text-color;
    }
}

.hidden-links,
.hidden-links .shp-tab-link {
    background-color: @gray-lighter;
}

.p-detail-tabs-wrapper .rate-average-wrap .rate-average {
    color: @text-color;
}

/* product page end */

/* category page start */
.subcategories {
    border-color: @border-color;
    li {
        a {
            color: @text-color;
        }
    }
}
.products-block {
    > div {
        border-color: transparent;
        &:hover {
            border-color: @border-color;
        }
    }
    .p-in-in {
        a {
            color: @text-color;
        }

    }

}

/* category page end */

/* aside start */
.sidebar {
    > div {
        border-color: @border-color;
    }
}

//top 10
.top-products {
    li {
        &:before {
            border-color: @border-color;
        }
        .top-products-content {
            color: @text-color;
            strong {
                color: @text-muted-color;
            }
        }
    }
}


/* aside end */


/* footer start */
#footer {
    background-color: @gray-lighter;
}

/* footer end */


/* popup & overlay start */
//user-action-tabs
.user-action-tabs {
    border-color: @tabs-border-color;
    background-color: @tabs-bg;
    li {
        a {
            border-color: @tab-border-color;
            color: @tab-link-color;
            background-color: @tab-link-bg;
            &:hover {
                border-color: @tab-border-color-hover;
                color: @tab-link-color-hover;
                background-color: @tab-link-bg-hover;
            }
        }
        &.active {
          a {
                border-color: @tab-border-color-active;
                color: @tab-link-color-active;
                background-color: @tab-link-bg-active;
             }
        }
    }
}
/* popup & overlay end */

/* cart & checkout start */
// cart widget
.cart-widget-product {
    border-bottom-color: @border-color;
}

.cart-widget-product-name {
    a {
        color: @text-color;
        &:hover {
            color: @color-primary;
        }
    }
    > span {
        color: @color-primary;
    }
}

.cart-widget-product-amount,
.cart-widget-product-unit {
    color: @text-muted-color;
}

.cart-widget-product-price {
    color: @text-color;
}

.cart-widget-product-delete {
    button {
        color: @gray-dark;
        &:hover {
            color: @red;
        }
    }
}

.cart-free-shipping {
    color: @text-color;
    strong {
        color: @color-tertiary;
    }
}

// Content window
.toggle-window-arr {
    color: @text-color;
}

.content-window-in {
    background-color: @content-box-bg;
}

.back-shopping {
    color: @text-color;
}

ol.cart-header {
    li {
        a,
        strong {
            span {
                &::before {
                    background-color: #fff;
                    border-color: @border-color;
                }
                &::after {
                    border-top-color: @border-color;
                }
            }
        }
        &.active {
            a,
            strong {
                span {
                    &::before {
                        background-color: @color-secondary;
                        border-color: @color-secondary;
                    }
                }
            }
        }
        &.completed {
            a,
            strong {
                span {
                    &::before {
                        background-color: @color-secondary;
                        border-color: @color-secondary;
                    }
                    &::after {
                        border-top-color: @color-secondary;
                    }
                }
            }
        }
    }
}

.extra {
    &.discount {
        .price-range {
            div {
                &::after {
                    color: @price-range-bg;
                }
            }
        }
    }
}

.cart-inner .free-gift {
    border-bottom-color: @border-color;
}

.price-secondary {
    color: @text-muted-color;
}

#checkoutSidebar .toggle-contacts {
    background: transparent;
}

.checkout-box,
.country-flags,
.order-summary-inner,
.order-summary-item,
.recapitulation-single,
.order-recapitulation,
.consents-first {
    border-color: @border-color;
}

.shipping-billing-table {
    .radio-wrapper {
        border-color: transparent transparent @border-color;
        &:hover {
            border-color: transparent @border-color @border-color;
        }
        &:first-child {
            &:hover {
                border-color: @border-color;
            }
        }
    }
}

#select-country-payment {
    background: @gray-lighter;
}

#checkoutContent .helper {
    background: @gray-lighter;
    a {
        color: @text-color;
    }
}

.recapitulation-wrapper {
    table {
        tr {
            th {
                .row-header-label {
                    background-color: white;
                }
                &:after {
                    border-top-color: @border-color;
                }
            }
        }
    }
}
/* cart & checkout end */





