@font-face {
    font-family: 'shoptet';
    src:
        url('@{fontPath}shoptet.ttf?ur3zuo') format('truetype'),
        url('@{fontPath}shoptet.woff?ur3zuo') format('woff'),
        url('@{fontPath}shoptet.svg?ur3zuo#shoptet') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "../../../00/css/modules/components/icons";
