@font-face {
    font-family: 'shoptet';
    src:
        url('@{fontPath}shoptet.ttf?7bkv80') format('truetype'),
        url('@{fontPath}shoptet.woff?7bkv80') format('woff'),
        url('@{fontPath}shoptet.svg?7bkv80#shoptet') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "../../../00/css/modules/components/icons";
