@navigation_navigation-buttons-font-size-1: 20px;
@navigation_navigation-buttons-font-size-2: 20px;

@navigation_navigation-buttons-right-1: 0;
@navigation_navigation-buttons-margin-right-1: 0;
@navigation_navigation-buttons-top-1: 0;
@navigation_navigation-buttons-margin-right-2: 0;
@navigation_navigation-padding-top-1: 61px;
@navigation_navigation-padding-top-2: 61px;

@navigation_chevronSize: 36px;
@navigation_image-size: 76px;
@navigation_image-max-height: round(@navigation_image-size / 1.4);
@navigation_third-level-item-height: 16px;

@hover-box-shadow: 0 0 10px rgba(0,0,0,.16);
@breadcrumb-in-detail-height: 20px;
@narrow-container-width: @container-lg;
@cart-widget-bottom-height: 144px;

//header
.navigation-wrapper {
    > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-top {
        align-items: center;
        padding: 0;
        @media (min-width: @navigation-breakpoint) {
            padding: @line-height-computed 0;
        }

        a.cart-count {
            padding-top: 0;
            padding-bottom: 0;
            @media (min-width: @navigation-breakpoint) {
                padding: 0;
                width: auto;
            }
        }
    }

    .header-bottom {
        position: relative;
        border-width: 1px 0 0;
        border-style: solid;
    }

    .navigation-buttons {
        a {
            margin-left: 0;
        }
        @media (min-width: @navigation-breakpoint) {
            a[data-target="login"] {
                display: none;
            }
            a {
                margin-left: @grid-gutter-width;
            }
        }
    }
}

#navigation {
    padding-top: 0;

    @media (min-width: @screen-xs-min) and (max-width: @navigation-breakpoint - 1) {
        .navigation-window-visible & {
            width: 100%;
        }
    }
    .menu-level-2 {
        @media (min-width: @navigation-breakpoint) {
            border-top-width: 1px;
            border-top-style: solid;
        }
    }
    .has-more-items {
        @media (min-width: @screen-sm-min) {
            position: relative;
            .more-items-trigger {
                position: absolute;
                right: 0;
                bottom: 0;
                .size(round(@navigation_third-level-item-height * 2), @navigation_third-level-item-height);
                font-size: small;
                text-align: center;
                cursor: pointer;
                &::before {
                    content: '\2026';
                    vertical-align: top;
                    line-height: 1;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: -@navigation_third-level-item-height;
                    top: 0;
                    .square(@navigation_third-level-item-height);
                    #gradient > .horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                }
            }
        }
    }
    .menu-no-image {
        padding: 0 @navigation-link-padding-horizontal;
    }
    .navigation-in ul li:hover > a {
        text-decoration: underline;
    }
    .navigation-in > ul > li {
        border: none;
    }
}

//content
.content {
    padding-left: 0;
    padding-right: 0;

    .sidebar-left + & {
        padding-left: round(@grid-gutter-width / 2);
    }

    .sidebar-right + & {
        padding-left: round(@grid-gutter-width / 2);
    }
}

.content-wrapper {
    padding-top: 20px;
}

#content {
    padding-top: 20px; //sidebar padding top = 20px
    h1 {
        margin-top: 0;
    }
}
.container-narrow {
    max-width: 100%;
    @media (min-width: @screen-md-min) {
        width: @narrow-container-width;
        margin: 0 auto;
    }
}

#content .sidebar.sidebar-left {
    float: left;
    padding-top: @line-height-computed * 2;
}

#content .sidebar.sidebar-right {
    float: right;
}

.sidebar+#category-header {
    padding-top: @line-height-computed * 2;
}

select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7 10l5 5 5-5z'/> <path d='M0 0h24v24H0z' fill='none'/> </svg> ");
}

/* homepage start */
.banners-row {
    margin-left: 0;
    margin-right: 0;

    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-wrapper {
        margin-top: 0;
    }
    
    .carousel {
        margin-bottom: 0;
    }
}

.extended-banner-title,
.extended-banner-text,
.extended-banner-link {
    border: none;
    background-color: transparent;
    box-shadow: none;
    
    .next-to-carousel-banners & {
        left: auto;
        right: 0;
    }
}

.extended-banner-title {
    padding: @grid-gutter-width;
}

.extended-banner-text {
    padding: @grid-gutter-width;
    font-size: @font-size-h1;
    font-weight: 700;
    max-width: 100%;
    
    .next-to-carousel-banners & {
        text-align: right;
    }
}

.extended-banner-link {
    margin-top: 0;
    padding: 0 @grid-gutter-width;
    height: auto;
    left: 0;
    right: auto;

    .carousel & {
        margin-top: 44px;
    }
}

.carousel-control {
    .square(44px);
    top: calc(50% - 22px);

    &::before {
        top: 0;
        margin: 0;
    }
    &.left {
        left: @grid-gutter-width;
        &::before {
            left: 0;
        }    
    }
    &.right {
        right: @grid-gutter-width;
        &::before {
            right: 0;
        }    
    }
}

.homepage-group-title {
    margin-top: round(@line-height-computed * 3);
    margin-bottom: round(@line-height-computed * 2);
    font-size: @font-size-h1;
    text-align: center;
}

.welcome-wrapper {
    margin-top: round(@line-height-computed * 2);
    margin-bottom: round(@line-height-computed * 2);
    padding-top: round(@line-height-computed * 2);
    padding-bottom: round(@line-height-computed * 2);
}

.footer-banners {
    margin-top: round(@line-height-computed * 2);
}
/* homepage end */

/* product detail page start */
.breadcrumb-in-detail {
    .narrow & {
        @media (min-width: @screen-lg) {
            width: 50%;
            float: right;
            display: block;
            height: @breadcrumb-in-detail-height;
        }
    }
    .wide & {
        @media (min-width: @screen-md) {
            width: 50%;
            float: right;
            display: block;
            height: @breadcrumb-in-detail-height;
        }
    }

    .breadcrumbs {
        padding-bottom: 0;
        display: block;
    }
}

.ratings-and-brand {
    display: flex;
    flex-flow: column;

    .stars a {
        padding-right: 5px;
    }

    a {
        text-decoration: underline;
    }

    .narrow & {
        @media (min-width: @screen-lg) {
            flex-flow: row;
            .brand-wrapper {
                margin-left: round(@grid-gutter-width / 2);
            }
        }
    }
    .wide & {
        @media (min-width: @screen-md) {
            flex-flow: row;
            .brand-wrapper {
                margin-left: round(@grid-gutter-width / 2);
            }
        }
    }
}

.products-top {
    .product.revealed + .button-wrapper {
        .chevron-down-after {
            &::after {
                content: @icon-chevron-up-code;
            }    
        }    
    }
}

.category-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .products-listing-order-heading {
        font-weight: 700;
        &::before {
            &:extend(.shp-icon);
            content: @icon-sort-code;
            margin-right: 5px;
        }
    }
    .dropdown-menu {
        top: 100%;
    }
    .dropdown.open {
        .icon-chevron-down {
            &::before {
                content: @icon-chevron-up-code;
            }    
        }
    }
    .mobile & {
        margin-bottom: @line-height-computed;
        .category-header-pagination {
            display: none;
        }
        form,
        .dropdown {
            display: block;
            width: 100%;
        }
        .dropdown-backdrop {
            position: relative;
        }
        #products-listing-order {
            width: 100%;
            border-width: 1px;
            border-style: solid;
            text-align: left;
            font-size: @font-size-base;
            .icon-chevron-down {
                float: right;
                line-height: inherit;
            }
        }
        .dropdown-menu {
            position: relative;
            width: 100%;
            border-top-width: 0;
            strong,
            label {
                padding: round(@line-height-computed / 2);
            }
        }
    } 
    @media (max-width: @screen-xs-max) {
        margin-bottom: @line-height-computed;
        .category-header-pagination {
            display: none;
        }
        form,
        .dropdown {
            display: block;
            width: 100%;
        }
        .dropdown-backdrop {
            position: relative;
        }
        #products-listing-order {
            width: 100%;
            border-width: 1px;
            border-style: solid;
            text-align: left;
            font-size: @font-size-base;
            .icon-chevron-down {
                float: right;
                line-height: inherit;
            }
        }
        .dropdown-menu {
            position: relative;
            width: 100%;
            border-top-width: 0;
            strong,
            label {
                padding: round(@line-height-computed / 2);
            }
        }            
    } 
}

.filters-wrapper {
    .filters-unveil-button-wrapper {
        .unveil-button {
            text-align: left;
            font-weight: 700;
            &::before {
                &:extend(.shp-icon);
                content: @icon-filter-code;
                margin-right: 5px;
            }
            &::after {
                &:extend(.shp-icon);
                content: @icon-chevron-down-code;
                float: right;
                line-height: inherit;
                margin-left: 5px;
            }
            .filters-visible & {
                &::after {
                    &:extend(.shp-icon);
                    content: @icon-chevron-up-code;
                    float: right;
                    line-height: inherit;
                }
            }
            .mobile & {
                padding: round(@line-height-computed / 2);
            }
            @media (max-width: @screen-xs-max) {
                padding: round(@line-height-computed / 2);
            }
        }
    }
}

.p-detail-inner-header-mobile {
    padding: @line-height-computed 0;

    .h1 {
        padding-bottom: @line-height-computed;
    }

    .narrow & {
        @media (min-width: @screen-lg) {
            display: none;
        }
    }
    .wide & {
        @media (min-width: @screen-md) {
            display: none;
        }
    }
}

.p-detail-inner {
    clear: both;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;

    .wide & {
        @media (min-width: @screen-md-min) {
            flex-direction: row;
        }    
    }
    @media (min-width: @screen-lg-min) {
        flex-direction: row;
    }

    h1 {
        padding-top: @line-height-computed;
    }

    .p-detail-inner-header {
        display: none;

        .narrow & {
            @media (min-width: @screen-lg) {
                display: block;
            }
        }
        .wide & {
            @media (min-width: @screen-md) {
                display: block;
            }
        } 
    }

    .p-image-wrapper {
        margin-top: 0;
        order: 1;
        .wide & {
            margin-left: 0;
            margin-right: 0;
            @media (min-width: @screen-md-min) {
                width: 50%;
                padding-right: @grid-gutter-width;
            }
        }
        @media (min-width: @screen-lg-min) { 
            width: 50%;
            padding-right: @grid-gutter-width;
        }
    }
    .p-data-wrapper {
        order: 2;
    }

    .p-data-wrapper,
    .p-image-wrapper {
        flex: 1 1 auto;
        align-self: auto;
        width: 100%;
        padding-top: 0;
        .wide & {
            @media (min-width: @screen-md-min) {
                width: 50%;
            }
        }
        @media (min-width: @screen-lg-min) { 
            width: 50%;
        }
    }
}

.variant-list {
    select {
        @media (max-width: @navigation-breakpoint - 1) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.image360,
.p-image {
    .wide & {
        @media (min-width: @screen-xl-min) {
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
}


table.detail-parameters {
    float: none;
    width: 100%;
    tbody {
        tr {
            td,
            th {
                line-height: 1.5;
                padding-bottom: 5px;
            }
            th {
                text-transform: none;
                font-weight: 400;
                position: relative;
                padding-right: round(@grid-gutter-width / 2);
                text-align: left;
                min-width: 150px;
                .row-header-label {
                    padding-right: 10px;
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                }
                &::after {
                    content:"";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    border-top-style: solid;
                    border-top-width: 1px;
                    z-index: 1;
                }
            }
            td {
                padding-left: round(@grid-gutter-width / 2);
                a {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
            &:last-child {
                th,
                td {
                    padding-bottom: 0;
                }
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        tbody {
            tr {
                th,
                td {
                    display: table-cell;
                }
            }
        }
    }
}

.p-image,
.image360 {
    border-width: 0;
    position: relative;
    padding-bottom: @line-height-computed;
}

.image360-navigation {
    bottom: @line-height-computed;
}

.p-thumbnails {
    height: 120px;
    margin-left: -10px;
    .p-thumbnails-inner {
        height: 120px;
        padding: 10px;
    }
    a {
        &:hover {
            z-index: 10;
            img {
                box-shadow: @hover-box-shadow;
            }
        }
    }
}
.p-thumbnails-horizontal .p-thumbnail::before,
.p-thumbnails-horizontal .show360image::before {
    height: 0;
}

.p-final-price-wrapper {
    padding: @line-height-computed 0;
    line-height: 200%;

    .price-final-holder {
        font-weight: 600;
    }
    
    .wide & {
        width: 100%;
    }
}

#product-detail-form {
    clear: both;
    .add-to-cart {
        width: 100%;
        .clearfixMixin();
        .add-to-cart-button {
            flex: 1;
        }
    }
    .sold-out-wrapper {
        text-align: left;
    }
}

.products-wrapper {
    position: relative;
}

.products-header {
    margin-top: round(@line-height-computed * 3);
    margin-bottom: round(@line-height-computed * 2);
    text-align: center;
}

.variant-list {
    padding-bottom: @line-height-computed;
    .variant-label {
        display: block;
    }
    select {
        &:hover {
            box-shadow: @hover-box-shadow;
        }
    }
}

#product-detail-form {
    .clearfixMixin();
    .variant-label {
        padding-bottom: round(@line-height-computed / 2);
    }
    .advanced-parameter {
        .advanced-parameter-inner {
            box-shadow: unset;
            &:hover {
                box-shadow: @hover-box-shadow;
                z-index: 10;
            }
            &:before {
                width: calc(@advanced-parameter-size / 2);
                height: calc(@advanced-parameter-size / 2);
                left: auto;
                right: calc((@advanced-parameter-size / 4) - 1px);
                top: calc((@advanced-parameter-size / 4) - 1px);
                border-radius: 100%;
                text-align: center;
            }
            &.yes-before {
                &:before {
                    &:extend(.shp-icon);
                    content: @icon-tick-code;
                    background-image: none;
                    border-style: solid;
                    border-width: 1px;
                    line-height: calc(@advanced-parameter-size / 2);
                    font-size: 16px;
                }
            }
            img {
                border-radius: 0;
            }

        }
    }
}

.quantity {
    &:hover {
        box-shadow: @hover-box-shadow;
    }
    input {
        width: @advanced-parameter-size; 
    }
    .decrease,
    .increase {
        border-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            position: relative;
            font-size: 12px;
            width: round(@advanced-parameter-size / 2);
            height: round(@advanced-parameter-size / 2);
            line-height: round(@advanced-parameter-size / 2);
            border-radius: 100%;
        }
    }
    .add-to-cart & {
        margin-right: round(@grid-gutter-width / 2);
    }
}

.add-to-cart-button,
.cart-related-button .btn.btn-sm {
    height: @advanced-parameter-size + 2;
    padding-top: 0;
    padding-bottom: 0;
    line-height: @advanced-parameter-size;
}

.variant-table {
    .quantity {
        display: inline-block;
    }
    .btn-cart {
        .square(50px);
        padding: 0;
        border-style: solid;
        &::before {
            &:extend(.shp-icon);
            content: @icon-cart-code;
            line-height: inherit;
        }
    }
}

.social-buttons-wrapper {
    padding: @line-height-computed 0;

    .link-icon {
        display: flex;
        margin-right: round(@grid-gutter-width / 2);
        &::before {
            margin-bottom: 0;
            margin-right: 5px;
        }

    }
}

.link-icons {
    .link-icon {
        margin-right: @grid-gutter-width;

        span {
            text-transform: none;
            text-decoration: underline;
        }
    }
}

//tabs

.p-detail-tabs-wrapper {
    border-top-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    .wide & {
        padding: 0;
    }
}

.shp-tabs-holder ul.shp-tabs {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    .shp-tab {
        &.active,
        &:hover {
            text-decoration: underline;
        }
    }    
    a.shp-tab-link {
        font-size: @tabs-font-size;

        @media (min-width: @tabs-breakpoint) {
            font-size: @tabs-font-size-desktop;
        }
    }
}

.tab-content .tab-pane {
    @media (min-width: @screen-xl-min) {
        padding-left: 200px;
        padding-right: 200px;
        &.wide-tab {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// description tab

.description-inner {
    @media (min-width: @screen-md-min) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .extended-description {
            padding-left: 0 @grid-gutter-width;
        }
    }
}

.basic-description {
    @media (min-width: @screen-lg-min) {
        flex: 1 1 auto;
        width: 66.666666%;
        padding-right: @grid-gutter-width;
    }
}

.extended-description {
    @media (min-width: @screen-lg-min) {
        flex: 0 1 auto;
        width: 33.333333%;
    }
}

// rating tab

.add-comment .rating-icon {
    text-decoration: underline;
    &:before {
        content: '';
        margin: 0;
    }
}

.p-detail-tabs-wrapper .rate-average-wrap {
    .stars {
        height: 30px;
    }
    .stars a, 
    .stars span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
        &:before {
            line-height: 30px;
            font-size: 30px;
        }
    }
}

.rate-wrapper.unveil-wrapper .rate-list {
    margin-bottom: 5px; 
}

.rate-wrap {
    margin-bottom: @line-height-computed * 2;
    @media (max-width: @navigation-breakpoint - 1) {
        flex-flow: column;

        .rate-average-wrap {
            margin-bottom: @line-height-computed;
        }
    }
}

.vote-pic {
    display: none;
}

.vote-wrap {
    margin-bottom: @line-height-computed * 1.5;
    padding-top: @line-height-computed * 1.5;

    .vote-header {
        display: block;
        margin-bottom: 0;
        .vote-rating {
            display: flex;
            justify-content: space-between;
            .vote-delimeter {
                display: none;
            }
        }
        .vote-time {
            font-size: @font-size-base;
        }
        .vote-name {
            margin-bottom: 10px;
        }
        .vote-title {
            margin-bottom: 0;
        }
    }
    .vote-content {
        margin-top: 15px;
    }
}

.vote-form {
    padding-bottom: @line-height-computed;

    .consents-first {
        border-width: 0;
        padding-top: 0;
    }
}




/* product detail page end */

/* category page start */
.products-block {
    display: flex;
    flex-wrap: wrap;
    > div {
        border-style: solid;
        border-width: 1px;
        max-width: 100%;
        &:hover {
            box-shadow: @hover-box-shadow;
            .p {
                a {
                    text-decoration: underline;
                }
            }
        }
        .p {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 100%;
            border: none;
            .p-code {
                right: 10px;
                top: 10px;
                text-align: left;
                display: block;
            }
            .availability {
                display: block;
                padding-top: @line-height-computed;
            }
            .p-in {
                clear: both;
                padding-top: round(@line-height-computed / 2);
            }
            .p-bottom {
                padding: 0 round(@grid-gutter-width / 4);
                > div {
                    .p-tools {
                        position: relative;
                        right: auto;
                        bottom: auto;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        flex-flow: column;
                        justify-content: center;
                        padding: @line-height-computed 0;
                        .pr-action {
                            width: 100%;
                        }
                        .btn,
                        .btn.btn-cart {
                            border-bottom-style: solid;
                            border-width: 1px;
                            width: 50%;
                            min-width: 100px;
                            margin: 0 auto;
                            height: auto;
                            &.btn-primary {
                                line-height: 30px; //its in 00 too
                            }
                        }
                        > .btn {
                            &:last-child {
                                border-right-style: solid;
                            }
                        }
                        .btn-conversion {
                            margin-bottom: 20px;
                        }
                    }
                }
                .p-desc {
                    margin-bottom: @line-height-computed;
                }
            }
            > a {
                &::after {
                    content: '';
                }
                img {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
            .name {
                text-transform: none;
                margin-top: 0;
            }
        }
    }
    @media (min-width: @screen-xs-min) {
        > div {
            .p {
                margin-bottom: 0;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        > div {
            .p {
                .name {
                    height: 57px;
                }
                .p-bottom {
                    &.single-button {
                        padding: 0 round(@grid-gutter-width / 4);
                        .prices {
                            position: relative;
                            left: auto;
                            bottom: auto;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: @screen-xl-min) {
        margin-left: 0;
        margin-right: 0;
        > div {
            width: 25%;
            padding: 10px;
            .p {
                .p-code {
                    .has-right-sidebar & {
                        bottom: 0;
                        right: 5px;
                        top: initial;
                    }
                }
            }
        }
    }
    .columns-3 &,
    .columns-4 & {
        @media (min-width: @screen-xs-min) {
            > div {
                float: left;
                width: 50%;
                padding: @grid-gutter-width * .333333;
            }
        }
        @media (min-width: @screen-md-min) {
            &.products-additional {
                > div {
                    width: 25%
                }
            }
        }
        @media (min-width: @screen-lg-min) {
            > div {
                width: 33.333333%;
            }
        }
    }
    .columns-4 .wide & {
        @media (min-width: @screen-sm-min) {
            > div {
                width: 33%;
            }
            &.products-additional {
                > div {
                    width: 50%;
                }
            }
        }
        @media (min-width: @screen-md-min) {
            &.products-additional {
                > div {
                    width: 25%;
                }
            }
        }
        @media (min-width: @screen-lg-min) {
            > div {
                width: 25%;
            }
        }
    }
}
.flags {
    &.flags-extra {
        left: auto;
        top: auto;
        bottom: 0;
        right: 5px;
        .wide .p-detail & {
            left: auto;
            top: auto;
            bottom: 0;
            right: 5px;
        }
    }
    .wide .p-detail & {
        left: 0;
    }
}
.categories-aside {
    display: flex;
    @media (min-width: @navigation-breakpoint) {
        display: none;
        .mobile & {
            display: flex;
        }
    }
}

/* category page end */

/* aside start */
.categories {
    .topic {
        a {
            font-size: 130%;
        }
    }
    ul {    
        ul {
            a {
                font-weight: normal;
            }
        }
    }
}

.sidebar {
    padding-bottom: @line-height-computed;
    > div.box-sm {
        margin: @line-height-computed 0 0 0;
        border-style: solid;
        border-width: 1px;
        padding: round(@grid-gutter-width / 2);

        h4 {
            margin-top: 0;
        }
    }
}
.box.box-sm.box-filters {
    padding: round(@grid-gutter-width / 2);
}
//top 10
@top-10-counter-size: 20px;
.top-products {
    list-style: none;
    counter-reset: top-10-counter;
    padding: 0;
    li {
        counter-increment: top-10-counter;
        display: flex;
        width: 100%;
        margin-bottom: @line-height-computed;
        position: relative;
        &::before {
            content: counter(top-10-counter);
            border-style: solid;
            border-width: 1px;
            border-radius: 100%;
            width: @top-10-counter-size;
            height: @top-10-counter-size;
            font-weight: bold;
            font-size: 12px;
            line-height: 1.5;
            display: block;
            text-align: center;
            flex-shrink: 0;
        }

        .top-products-content {
            padding-left: round(@grid-gutter-width / 2);
            .top-products-name {
                display: block;
                font-weight: bold;
            }
            > strong {
                font-weight: normal;
            }
        }
        &.display-image {
            &::before {
                position: absolute;
                left: 0;
                top: 0;
            }
            .top-products-image {
                width: 30%;
                height: auto;
            }
            .top-products-content {
                width: 70%;
            }
        }

    }
}


/* aside end */

/* footer start */
/* footer end */

/* popup & overlay start */
//user-action-tabs
body.user-action-visible {
    &.search-window-visible {
        overflow: auto;
        position: relative;
    }
}

ul.user-action-tabs {
    li {
        margin: 0 10px -1px;
        border-width: 0;
        a {
            border-width: 1px;
            border-style: solid;
        }
    }
}
/* popup & overlay end */

/* cart & checkout start */
// cart widget
.popup-widget {
    @media (max-width: @screen-xs-max) {
        &.cart-widget {
            top: unit(@popup-widget_top-xs-max, px);
        }
        &.search-widget {
            top: unit(@popup-widget_top-xs-max, px);
        }
        &.login-widget {
            top: unit(@popup-widget_top-xs-max, px);
        }
    }
}

.cart-widget-product {
    padding: round(@grid-gutter-width / 4);
    &:last-child {
        border-bottom-style: solid;
    }
    .cart-widget-product-name {
        width: 35%;
    }
    @media (min-width: @screen-md-min) {
        .cart-widget-product-delete {
            visibility: hidden;
        }
        &:hover {
            .cart-widget-product-delete {
                visibility: visible;
            }
        }
    }
}

.cart-widget-product-name {
    span, strong {
        font-weight: normal;
    }
}

.cart-widget-product > div.cart-widget-product-unit {
    display: none;
}

.cart-widget-product-amount {
    width: 112px;
    .quantity {
        margin: 0;
        input {
            height: 50px;
            width: 30px;
        }
        .increase,
        .decrease {
            height: 50px;
        }
    }
    
}

.cart-widget-product-price {
    text-align: right;
}

.cart-widget-bottom {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: @cart-widget-bottom-height;
  text-align: center;
}

.cart-widget-inner.popup-widget-inner {
    margin-bottom: @cart-widget-bottom-height;
    @media (max-width: @screen-sm-max) {
        .cart-widget-products {
            margin-bottom: @cart-widget-bottom-height;
        }
    }
}

.cart-widget-button {
    padding: @line-height-computed 0;
    margin: 0;
    top: 0;
    @media (max-width: @screen-sm-max) {
        position: relative;
        left: initial;
        right: initial;
        bottom: initial;
    }
}

.cart-free-shipping {
    position: relative;
    bottom: 0;
    height: auto;
    > div {
        padding: 0;
        div {
            padding-bottom: @line-height-computed;
            strong {
                padding-top: round(@line-height-computed / 2);
                display: inline-block;
            }
        }
    }
    .price-range {
        margin-top: @line-height-computed;
        margin-bottom: 0;
        max-width: 100%;
        padding-bottom: 0;
        div {
            padding-bottom: 0;
        }
    }
}



/* cart & checkout end */

/* blog and articles start */
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: @grid-gutter-width;
    .news-item {
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
        @media (min-width: @screen-md-min) {
            width: calc(50% - @grid-gutter-width / 2);
        }
        .news-image {
            object-fit: cover;
            width: 100%;
            height: 20vh;
            margin-bottom: @grid-gutter-width / 2;
            @media (min-width: @screen-md-min) {
                height: 40vh;
            }
        }
    }
}
.news-item-detail {
    .next-prev a {
        margin-bottom: round(@grid-gutter-width / 2);
    }
    @media (min-width: @screen-md-min) {
        margin-bottom: 0;
    }
}
/* blog and articles end */
