:root {
  // form tokens
  --form-fields-width-xs: 220px;

  --form-controls-padding-y: 10px;
  --form-controls-padding-x: 12px;

  --form-fields-checkbox-size: 18px;
  --form-fields-checkbox-inner-size: 14px;
}
