:root {
  // hyperlinks underlines
  --hyperlinks-underline-offset: 0.14em;
  --hyperlinks-underline-thickness: 0.0625em;
  --hyperlinks-underline-thickness-hover: 0.1em;

  // form tokens
  --form-fields-width-xs: 220px;

  --form-controls-padding-y: 10px;
  --form-controls-padding-x: 12px;

  --form-fields-checkbox-size: 18px;
  --form-fields-checkbox-inner-size: 14px;
}
