.dropdown-menu {
    background-color: @navigation-bg;
    > li > a {
        color: @navigation-color;
        background-color: @navigation-bg;
        &:hover,
        &:focus {
            color: @navigation-color;
            background-color: @navigation-bg;
        }
    }
}

// Content window
.toggle-window-arr {
    color: @text-color;
}
.content-window-in {
    background-color: @content-box-bg;
}

.back-shopping {
    color: @text-color;
}

ol.cart-header {
    li {
        &:first-child {
            a,
            strong {
                &::after {
                    background-color: @step-active-bg;
                }
            }
            a {
                &:hover {
                    &::after {
                        background-color: @step-active-bg;
                    }
                }
            }
            &.active {
                a,
                strong {
                    &::after {
                        background-color: @step-active-bg;
                    }
                }
            }
        }
    }
}


//orderStep1
.radio-wrapper {
    &.active {
      background-color: #fafafa;
    }
}

//productInner
.product {
    &.inactive {
        color: @text-color;
    }
}
.p {
      border-color: @border-color;
      .name {
          color: @text-color;
      }
      .price-additional {
          color: @text-muted-color;
      }
  }


  .p-basic-info-block {
      .block {
          .p-code {
            color: @text-color;
          }
      }
  }

  a.link-icon {
      color: @text-color;
      &:hover {
          color: @link-color;
      }
  }

.pr-list-unit {
    color: @text-muted-color;
}

.products-inline,
.products-inline-image {
    > div {
        border-color: @border-color;
    }
}

//footer
#footer {
      background-color: @footer-bg;
      border-top-color: @border-color;
      ul {
          li {
              &::before {
                 border-color: @text-color;
              }
          }
      }
}
.footer-bottom, .footer-newsletter {
      border-color: @border-color;
}
#signature {
    a {
        color: @text-color;
    }
}

//sidebar
.sidebar {
    > div {
      border-color: @border-color;
    }
}
ol.top-products {
    li {
        &::before {
            background-color: @color-primary;
            color: #fff;
        }
        a {
            color: @text-color;
            &:hover {
                .top-products-name {
                    color: @color-primary;
                }
            }
        }
    }
}

//manufacturers
.manufacturers {
    li {
        .btn {
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.next-step-back {
    color: @text-color;
}

//languagesMenu
.languagesMenu__content {
    background-color: @header-bg-color;
}

.languagesMenu__header {
    color: @header-color;

    @media (min-width: unit(@navigation-breakpoint, px)) {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.languagesMenu__list {
    background-color: @header-bg-color;
}

.languagesMenu .languagesMenu__list__link {
    color: @header-color;

    &:hover {
        color: @tab-link-color;
        background-color: @tab-link-bg;
    }
}

.currency-window-visible .languagesMenu__list--currency,
.language-window-visible .languagesMenu__list--language {
    display: block;
}

body.user-action-visible.currency-window-visible,
body.user-action-visible.language-window-visible {
    overflow: auto;
}
